@charset "utf-8";
/* Malgun Web Standard Team KKS 20180115 */

/* 학습자료실 */
/* 도서리스트 셀렉트 메뉴 */
.group_select{padding-top:10px}
.list_select{overflow:hidden;margin-bottom:10px;padding:0 16px}
.list_select>li{position:relative;float:left;width:32%;height:31px;margin-left:2%;padding:0 14px;background:#fff;border:1px solid #e4e4e4;border-radius:15px;box-sizing:border-box;line-height:30px}
.list_select.v2>li{width:23.5%;padding:0 10px}
.list_select>li.on{background:#60bb46;border:1px solid #60bb46}
.list_select>li:first-child{margin-left:0}
.list_select.v2>li select{padding-right:27px}
.list_select>li>a{display:block;color:#222}
.list_select>li>a:after{display:inline-block;overflow:hidden;position:absolute;top:50%;right:16px;width:11px;height:8px;margin-top:-4px;background:url(../img/ico.png) no-repeat;background-position:-27px 0;background-size:200px auto;content:''}
.list_select.v2>li>a:after{right:10px}
.list_select>li.on>a{color:#fff}
.list_select>li.on>a:after{background-position:-27px -8px}
.list_select label{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-999em}
.list_select select{display:block;position:absolute;top:0;bottom:0;left:0;width:100%;opacity:0;z-index:10;-webkit-appearance:none}
.text_result{padding:10px 16px 8px;border-top:1px solid #e4e4e4;background:#fff;color:#222}
.text_result.v2{border:none}
.text_result.v3{padding:10px 16px;border:none}

/* 도서리스트 */
.list_book{border-top:1px solid #e4e4e4}
.list_book>li{position:relative;height:118px;padding:20px 16px;border-bottom:1px solid #e4e4e4}
.list_book.v2>li{height:77px}
.img_book{display:inline-block;position:absolute;top:20px;left:16px;border:1px solid #e4e4e4}
.img_book.new:after{display:block;position:absolute;top:-8px;left:-10px;width:22px;height:22px;font-size:12px;font-weight:bold;color:#fff;border-radius:11px;background:#ff9d00;text-align:center;line-height:24px;content:'N'}
.img_book.v3{top:0;left:0}
.img_book.v3 img{width:53px;height:73px}

.desc_book{padding-left:100px;line-height:17px}
.desc_book dt{margin:-2px 0 15px;font-size:14px;font-weight:bold}
.desc_book dt a{color:#222}
.desc_book dd{display:table;font-size:12px}
.desc_book dd em{display:table-cell;width:30px}
.desc_book dd strong{display:table-cell;color:#777}
.desc_book dd strong.clr_green{color:#60bb46}
.text_more a{display:block;margin:-1px 0 1px;padding:10px 0 8px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;background:#fff;font-size:12px;text-align:center}

/* 도서리스트 버튼 */
.list_book_btn{overflow:hidden;position:absolute;right:16px;bottom:20px}
.list_book_btn>li{float:left;margin-left:10px}
.list_book_btn>li:first-child{margin-left:0}

/* 도서상세 */
.group_book_info{position:relative;height:154px;padding:20px 0}
.group_book_info.v2{display:block;height:75px;padding:0}
.desc_book.v2{padding:0 16px 0 143px}
.desc_book.v2 dt{margin-top:8px;font-size:15px;line-height:22px;color:#222}
.desc_book.v2 dd{line-height:18px}
.list_book_info{overflow:hidden;padding:0 16px 20px}
.list_book_info>li a{position:relative;float:left;width:25%;height:56px;border:1px solid #e4e4e4;border-left:0;font-size:14px;color:#222;box-sizing:border-box;text-align:center}
.list_book_info>li:first-child a{border-left:1px solid #e4e4e4}
.list_book_info>li a.point{background:#4187d7;border:1px solid #4187d7;font-weight:bold;color:#fff}
.list_book_info>li a.point:before{display:block;position:absolute;top:-1px;left:-2px;bottom:-1px;width:1px;background:#4187d7;content:''}
.list_book_info>li:first-child a:before{display:none}
.list_book_info>li a span{display:block}
.desc_book.v3{padding-left:65px}
.desc_book.v3 dt{margin:0;padding:5px 0 6px;font-size:13px;font-weight:normal;color:#222}
.desc_book.v3 dd{font-size:13px;color:#222}

/* 학습자료 */
.list_learning_materials{}
.list_learning_materials>li,.list_learning_materials2>li{position:relative;padding:11px 56px 9px 16px;border-bottom:1px solid #e4e4e4}
.list_learning_materials>li strong{display:table-cell;width:80px;color:#60bb46;vertical-align:middle}
.list_learning_materials>li span{display:table-cell}
.list_learning_materials>li a,.list_learning_materials2>li a{position:absolute;top:50%;right:16px;width:34px;margin-top:-13px;font-size:11px;font-weight:bold;color:#fff;text-align:center;line-height:28px}

/* 필수 APP */
.group_dwld_app{padding:20px 16px}
.list_dwld_app{overflow:hidden;padding:14px 0 10px;border:1px solid #e4e4e4;border-radius:8px}
.list_dwld_app>li{float:left;width:25%;line-height:16px;text-align:center}
.list_dwld_app>li a{display:inline-block}
.list_dwld_app>li strong{display:block;color:#222;text-align:center}
.list_dwld_app>li em{display:block;font-size:10px;text-align:center}

/* 책소개 */
.just_lst{line-height:1.8}
.txt_space{position:absolute;left:9px;color:#222}
.txt_space2{float:left;margin-left:32px}
.lst_accordion{}
.lst_accordion > li{margin-top:10px;background:#fff}
.lst_accordion > li:first-child{margin-top:0}
.lst_accordion > li > a{display:block;overflow:hidden;position:relative;height:39px;padding:0 40px 0 10px;border-bottom:1px solid #e4e4e4;font-size:14px;font-weight:bold;color:#222;line-height:41px}
.lst_accordion > li > a.pd_space{padding:0 40px 0 16px}
.lst_accordion > li > a:after,.lst_accordion > li.on > a:after{display:block;position:absolute;top:50%;right:16px;width:11px;height:7px;margin-top:-4px;background:url(../img/ico.png) no-repeat -44px -25px;background-size:200px auto;content:''}
.lst_accordion > li.on > a:after{background-position:-56px -25px}
.lst_accordion > li.on .group_book_view{display:block}
.lst_accordion.v2 > li{margin-top:0;border-bottom:1px solid #e4e4e4}
.lst_accordion.v2 > li:last-child{border-bottom:1px solid #fff} 
.lst_accordion.v2 > li > a{height:auto;min-height:39px;padding:10px 40px 8px 56px;border:none;font-size:13px;font-weight:normal;line-height:20px;box-sizing:border-box}

.lst_accordion2{}
.lst_accordion2 > li{margin-top:10px;background:#fff}
.lst_accordion2 > li:first-child{margin-top:0}
.lst_tit_mypage{position:relative;height:39px;padding:0 40px 0 16px;border-bottom:1px solid #e4e4e4;font-size:14px;font-weight:bold;color:#222;line-height:41px}
.text_info{margin-left:4px;font-size:12px;font-weight:normal;color:#666;vertical-align:top}

.group_book_view{display:none;padding:16px}
.group_book_view p{margin-top:10px}
.group_book_view p:first-child,.group_book_view.v3 p{margin-top:0}

.group_book_view2{display:block;padding:10px 16px}
.group_book_view.v3{padding:8px 16px 13px;border-top:1px solid #e4e4e4;background:#f8f8f8}
.just_book_index{}
.just_book_index dt{font-weight:bold}
.just_book_index dd{margin-bottom:10px}
.just_book_index dd:last-child{margin-bottom:0}
.tit_process{margin-bottom:2px;font-size:13px;font-weight:bold;color:#60bb46}

/* 독자서평 */
.group_lecture_introduce{position:relative;padding:18px 16px 16px}
.logo_lecture{position:absolute;top:50%;width:60px}
.just_lecture{padding:0 85px 0 80px;color:#222}
.just_lecture dt{font-size:14px}
.just_lecture dd{font-size:12px;color:#666}
.txt_bookreview{padding-bottom:9px;font-size:12px;color:#fb6565}
.ico_best{display:inline-block;width:22px;height:22px;margin-right:6px;background:#fb6565;font-weight:bold;color:#fff;text-align:center;line-height:24px;border-radius:11px}
.ico_best.v2{position:absolute;top:0;left:0}

.box_leafcheck{padding:20px 0;border-top:1px solid #e4e4e4}
.lst_leaf{display:inline-block;width:100%;text-align:center}
.lst_leaf > li{display:inline-block;position:relative;margin-left:10px}
.lst_leaf > li:last-child:before{display:inline-block;position:absolute;top:-34px;right:-46px;width:100px;height:23px;background:#e3f4db;font-size:11px;color:#60bb46;line-height:26px;border-radius:4px;content:'새싹을 클릭하세요.'}
.lst_leaf > li:last-child:after{display:inline-block;position:absolute;top:-12px;right:2px;width:14px;height:7px;background:url(../img/bg_cmt_arr.png) no-repeat;background-size:14px auto;content:''}
.lst_leaf > li:first-child{margin-left:0}
.txt_limit{position:absolute;right:6px;bottom:7px;font-size:11px;color:#c4c4c4;line-height:11px}
.txt_limit em{color:#666}
.group_bookreview_lst{overflow:hidden;padding:7px 16px}
.txt_bookreview_num{float:left;margin-top:8px;font-size:14px;color:#222;line-height:14px}
.loc_slct_bookreview{float:right}
.lst_leaf2,.lst_leaf2.v2{display:inline-block;overflow:hidden;position:relative;width:83px;height:14px;background:url(../img/bg_leaf.png) no-repeat;background-size:83px auto;text-indent:-999em}
.lst_leaf2.v2{position:absolute;top:0;left:0;width:auto;background-position:0 -15px}
.loc_leaf2{position:absolute;top:4px;left:32px}
.loc_leaf2.v2{left:0}
.lst_bookreview2{border-top:1px solid #e4e4e4}
.lst_bookreview2 > li{padding:10px 16px;border-bottom:1px solid #e4e4e4}
.tit_bookreview{display:block;margin-left:125px;font-size:14px;color:#222;line-height:25px}
.tit_bookreview.v2{margin-left:94px}
.tit_bookreview.tx_ellipsis{}
.view_bookreview{margin-top:2px}

/* 마이씽/쿠폰 */
.lst_mycoupon{overflow:hidden}
.lst_mycoupon > li{float:left;width:31%;margin-left:3.5%}
.lst_mycoupon > li:first-child{margin-left:0}
.group_coupon{background:#60bb46;padding:0 4px 4px 4px;font-size:12px;border-radius:15px 0}
.group_coupon.v2{background:#ffc600}
.just_coupon{text-align:center;table-layout:fixed}
.just_coupon dt{height:30px;font-weight:bold;color:#fff;line-height:34px}
.just_coupon dd{position:relative;height:57px;background:#fff;border-radius:0 0 12px 0;font-size:11px;color:#000;letter-spacing:-1px;line-height:60px}
.just_coupon dd em{display:inline-block;margin:-1px 0 1px;font-size:17px;font-weight:bold;vertical-align:top}
.just_coupon dd a{color:#222}
.txt_ssing_del{position:absolute;right:0;bottom:5px;left:0;font-size:10px;font-weight:300;color:#777;text-align:center;letter-spacing:-.5px;line-height:10px}
.group_termfind{position:relative;margin:10px 0 6px;padding:10px 16px;background:#efefef}
.termfind_inner{margin-right:81px}
.termfind_inner input{padding-top:3px;padding-right:33px;border-right:none;font-size:12px}
.btn_calendar{display:inline-block;position:absolute;top:0;right:0;height:31px;padding:0 7px;border:1px solid #e4e4e4;border-left:none;background:#fff;vertical-align:top}
.loc_btn_termfind{position:absolute;top:10px;right:16px}
.loc_calendar{display:inline-block;position:relative;width:47.5%}
.loc_calendar2{display:inline-block;width:5%;text-align:center}
.txt_comment{padding:0 16px 18px;font-size:11px;color:#777}
.txt_comment.v2{padding:6px 0 0 0}
.txt_nossing{padding:10px 16px 8px;border-top:1px solid #e4e4e4;text-align:center}

/* 마이신사고 도서 */
.lst_sinsagobook{overflow:hidden}
.lst_sinsagobook > li{float:left;width:33.3%;padding:7px 0 8px;border:1px solid #e4e4e4;border-left:none;font-size:12px;color:#222;text-align:center;box-sizing:border-box}
.lst_sinsagobook > li:first-child{width:33.4%;border-left:1px solid #e4e4e4}
.just_sinsagobook{line-height:17px}
.just_sinsagobook dd{font-size:11px}
.just_sinsagobook dd em{display:inline-block;margin:-1px 0 1px;font-size:17px;font-weight:bold;vertical-align:middle}
.lst_bbs_sinsagobook{}
.bbs_sinsagobook > li{padding:20px 16px;border-top:1px solid #e4e4e4}
.bbs_sinsagobook > li:first-child{border-top:none}
.bbs_sinsagobook_inner{overflow:hidden}
.bbs_sinsagobook_inner > li{float:left;width:31%;margin-right:3.5%}
.bbs_sinsagobook_inner > li:last-child{margin-right:0}
.bbs_sinsagobook_inner > li img{min-width:84px;min-height:116px;width:100%}
.box_photo_book{border:1px solid #e4e4e4}
.btn_del{display:inline-block;width:22px;height:22px}

/* 마이페이지 */
.lst_box_type{overflow:hidden}
.lst_box_type > li{position:relative;float:left;border:1px solid #e4e4e4;border-left:none;font-size:12px;color:#222;text-align:center;box-sizing:border-box}
.lst_box_type > li.on a.btn_box_gray dt{color:#60bb46}
.lst_box_type > li.on:after{display:inline-block;position:absolute;top:-1px;right:-1px;bottom:-1px;left:-1px;border:2px solid #60bb46;content:''}
.lst_box_type > li:first-child{border-left:1px solid #e4e4e4}
.just_detailview{padding:15px 0 8px}
.just_detailview dd{margin-top:-1px;font-size:11px}
.just_detailview dd em{display:inline-block;margin:-1px 0 1px;font-size:17px;font-weight:bold;vertical-align:middle}
.just_detailview dd a{color:#222}
a.btn_box_gray{display:block;position:relative;z-index:1;color:#222}

/* 학습자료실 */
.list_check{overflow:hidden;padding:2px 16px 13px;background:#efefef}
.list_check>li{position:relative;float:left;width:32%;margin-top:10px;color:#222}
.list_check>li:nth-child(3n+1){width:36%}
.checkbox[type="checkbox"]{position:absolute;left:0;top:0;overflow:hidden;width:1px;height:1px;margin:0;padding:0;border:0 none;clip:rect(0 0 0 0)}
.checkbox + label{display:inline-block;height:22px;padding-left:27px;background:url(../img/btn_check.png) no-repeat 0 -23px;background-size:22px 45px;line-height:24px;vertical-align:middle}
.checkbox[type="checkbox"]:checked + label{background-position: 0 0}
label.hide{overflow:hidden;text-indent:-9999px}

/* 1:1 문의 내역 */
.group_inquiry{padding:20px 16px;color:#222;text-align:center}
.txt_inquiry{padding:15px 0;line-height:20px}
.ico_greenbox,.ico_greybox,.ico_blackbox{display:inline-block;height:24px;background:#60bb46;font-size:12px;color:#fff;line-height:26px;text-align:center;border-radius:5px 0}
.ico_greybox{background:#c5c5c5}
.ico_blackbox{background:#666}
.loc_ico_inquiry{position:absolute;top:50%;left:16px;width:34px;margin-top:-12px}
.box_file{margin:6px 0 6px !important;padding:7px 10px 6px;border:1px solid #e4e4e4;background:#fff}
.box_file strong{display:inline-block;margin-right:9px;font-weight:normal;color:#222}
.box_file strong:before{display:inline-block;width:13px;height:12px;margin:1px 5px -1px 0;background:url(../img/ico.png) no-repeat -82px -102px;background-size:200px auto;content:''}
.box_file a{color:#4187d7}
.group_answer{color:#60bb46;line-height:18px}
.group_answer p:last-child{margin:5px 0 3px}

/* 주문/배송조회 */
.group_order_state{overflow:hidden;position:relative;padding:8px 16px;border-bottom:1px solid #e4e4e4}
.loc_ico_order{width:54px}
.date_order{display:inline-block;margin-left:4px;color:#222;vertical-align:middle}
.date_order em{font-weight:bold;color:#60bb46;text-decoration:underline}
.loc_orderview{position:absolute;top:11px;right:16px}
.loc_orderview.v2{top:11px;color:#60bb46}
.loc_orderview.v2 strong{margin-left:3px}
.btn_more2{font-size:12px;line-height:12px}
.ico_pipe{margin:0 9px 0 6px;font-size:8px;color:#e4e4e4;vertical-align:top}

/* 주문/배송조회 : 입금대기 */
.lst_totalbody{padding:8px 16px;border-bottom:1px solid #e4e4e4}
.lst_totalbody.v2{padding:13px 10px 11px;border-bottom:none}
.tit_lft_order{display:inline-block;width:50%;font-weight:normal}
.tit_rgt_order{display:inline-block;width:50%;color:#222;text-align:right}
.tit_rgt_order em{display:inline-block;font-size:16px;line-height:16px;vertical-align:middle}
.group_order_tfoot{padding:0 16px;height:40px;line-height:41px}
.group_order_tfoot strong{font-size:14px;font-weight:bold;color:#222}
.group_order_tfoot .tit_rgt_order{color:#60bb46}
.group_order_tfoot .tit_rgt_order em{margin:-1px 0 1px}
.group_order_tfoot .tit_rgt_order.v2 em{font-weight:bold}
.tit_buyinfo{display:inline-block;width:60px}
.loc_buyinfo{margin:12px 0 16px}

/* 주문/배송조회 : 반품신청 */
.lst_loc_return{overflow:hidden;margin-top:-10px}
.lst_loc_return li{float:left;width:48.5%;margin-top:10px}
.lst_loc_return li:nth-child(2n+2){margin-left:3%}
.lst_loc_return li a{position:relative;width:100%}
.lst_loc_return li.on a:after{display:block;position:absolute;top:16px;right:10px;width:11px;height:7px;background:url(../img/ico.png) no-repeat -27px -8px;background-size:200px auto;content:''}
.lst_return_view{margin-top:10px}
.lst_return_view > li{display:none}
.box_greyline{border:1px solid #e4e4e4}
.box_greyline.v2{padding:5px 10px 20px;border-top:none}
.box_greyline.v3{padding:5px 10px}
input.input_type1{height:25px;padding:0 5px}
.loc_bank_first{position:absolute;top:0;left:0}
.loc_bank_last{padding-left:100px}

.filebox{position:relative}
.filebox .file_name{display:inline-block;height:26px;padding-left:10px;background-color:#fff}
.filebox .btn_file{display:inline-block;position:absolute;top:0;right:0;width:100px;width:26px;height:26px;text-align:center}
.filebox .btn_file2{display:block;height:31px;border:1px solid #e4e4e4;background:#f8f8f8;text-align:center;line-height:33px;border-radius:5px}
.filebox input[type="file"]{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0,0,0,0)}


/* 기존 css에서 추가 및 수정 */
.group_book_view.v2 {padding: 0;}
.desc_book.v3 dd b {font-size: 14px}
.desc_book.v3 dd.form_input {display: block;padding:5px 0 0 78px;}
.group_book_info.v3 {display: block;height: auto;padding: 0;}
.list_check.v2 {background: transparent;border-bottom: 1px solid #e4e4e4}
.list_check.v2 > li {overflow:hidden;float: none;width: 100%;}
.list_check.v2 > li label {float: left;width: 112px;}
.list_check.v2 > li p {overflow: hidden}

/* 결제하기 - 기본 배송지 */
.lst_tit_payment{overflow:hidden;padding:11px 16px 9px;border-bottom:1px solid #e4e4e4;font-size:14px;color: #222}
.btn_change_addr{float:right;margin-top:2px;font-size:12px;color:#60bb46 !important;font-weight: normal}
.btn_change_addr:after{display:inline-block;width:7px;height:11px;margin:3px 0 0 5px;background:url(../img/ico.png) -185px -68px no-repeat;background-size:200px auto;vertical-align:top;content:''}
.text_addr{font-size:13px;color:#222}
.lst_info_tit{float:left;width:73px;font-weight:normal}
.lst_info_dsc{overflow:hidden;color:#222}

/* 결제하기 - 결제수단 */
.title_payment{padding:17px 16px 12px;font-size:14px;color:#222}
.list_payment{overflow:hidden;margin:0 12px}
.list_payment li{float:left;width:25%}
.payment_area{margin:13px 16px 0;padding:9px 12px;background-color:#f8f8f8;border:1px solid #e4e4e4;font-size:11px}
.tit_provision{margin-bottom:7px;font-size:12px;font-weight:bold;color:#222;text-decoration:underline}

.form_payment{overflow:hidden;margin:0 16px;border:1px solid #e4e4e4;border-top:0}
.form_payment > strong{float:left;width:96px;padding:7px 0 0 12px;font-size:12px;color:#60bb46}
.form_payment > span{display:block;overflow:hidden;margin:6px 0 3px;text-align:center}

/* 결제하기 - 하단 유의사항 */
.note_group{padding:17px 16px 16px}
.note_area + .note_area{margin-top:13px}
.tit_note{margin-bottom:5px;font-size:13px;font-weight:bold;color:#222}

/* 장바구니 */
/* 구매수량 */
.list_basket > li{overflow:hidden;position:relative;height:77px;padding:20px 0}
.basket_check{float:left}
.img_book.v4{left:45px}
.img_book.v4 img{width:55px;height:75px}
.desc_book.v4{padding:0 40px 0 94px;color:#222}
.desc_book.v4 dt{height:33px;margin:5px 0 10px;font-size:13px;font-weight:normal}
.desc_book.v4 dd{font-size:12px}
.desc_book.v4 dd strong{font-size:14px;color:#222}
.line_height{line-height:39px}

/* 구매 정보 */
.purchase_info dt{margin:14px 0 5px;font-size:12px;font-weight:bold;color:#222}
.purchase_info dt:first-of-type{margin-top:-4px}
.purchase_info dd{font-size:11px}
.purchase_info dd li{line-height:15px}

/* 수량 버튼 */
.btn_add{position:absolute;bottom:26px;right:16px}
.calculation{float:left;width:22px;height:22px;border:1px solid #e4e4e4;border-radius:12px;text-align:center}
.text_number{float:left;width:32px;margin-top:2px;font-weight:bold;color:#222;text-align:center}

/* Input */
.input_type1.v2{font-size:14px;color:#60bb46;text-align:right;line-height:27px}
.input_type1.v2::-webkit-input-placeholder{font-size:12px;color:#666;text-align:left;line-height:25px}
.rdo_basic input[type=radio]{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;margin:0;padding:0;border:0 none;clip:rect(0 0 0 0)}
.rdo_basic label:before{display:inline-block;width:17px;height:17px;margin-right:5px;background:url(../img/btn_radio.png) 0 -17px no-repeat;background-size:17px auto;vertical-align:top;content:''}
.rdo_basic label > span{display: inline-block;padding-top:1px;font-size:12px;color:#222;vertical-align:top;line-height:18px}
.rdo_basic input[type=radio]:checked + label:before{background-position:0 0}
.rdo_basic + .rdo_basic{margin-left:15px}

.rdo_payment{position:absolute;top:0;left:0;overflow:hidden;width:1px;height:1px;margin:0;padding:0;border:0 none;clip:rect(0 0 0 0)}
.rdo_payment + label{display:block;height:56px;margin:0 4px;border:2px solid #e4e4e4;border-radius:10px 0;text-align:center}
.rdo_payment + label:after{display:inline-block;width:0;height:100%;vertical-align:middle;content:''}
.rdo_payment + label i{display:inline-block;margin-top:2px;color:#222;vertical-align:middle;font-style:normal;line-height:15px}
.rdo_payment:checked  + label{border-color:#60bb46}

/* 나를바꾸는 힘 : 카툰 Feel */
.lst_menu_nabahim{overflow:hidden;border-bottom:1px solid #e4e4e4}
.lst_menu_nabahim > li{position:relative;float:left;width:22%;font-weight:bold;color:#60bb46;text-align:center;font-size:14px}
.lst_menu_nabahim > li:last-child{width:34%}
.lst_menu_nabahim > li.on span{display:block;padding:9px 0 6px}
.lst_menu_nabahim > li > a{display:block;padding:10px 0 8px;font-weight:normal;color:#222} 
.spot_nabahim{position:relative;height:105px;color:#222}
.spot_nabahim h4{position:absolute;top:51%;left:16px;margin-top:-24px;font-size:15px;line-height:23px}
.spot_nabahim strong{font-size:17px}
.lst_nabihim{}
.lst_nabihim > li{border-top:1px solid #e4e4e4}
.lst_nabihim > li:first-child{border-top:none}
.lst_nabihim > li > a{display:block;overflow:hidden;position:relative;padding:11px 16px 7px;font-size:14px}
.txt_nabahim_subject{max-width:68%;color:#222;vertical-align:top}
.lst_nabihim_inner{overflow:hidden;float:right;margin-top:2px;font-size:12px}
.lst_nabihim_inner > li{float:left;margin-left:6px;text-align:right}
.lst_nabihim_inner > li .ico{text-indent:999em}
.lst_nabihim_inner > li:first-child{margin-left:0}
.lst_nabihim_inner > li > em{display:inline-block;width:21px;text-align:center}
.lst_nabihim_inner.v2{margin-top:0}
.lst_nabihim_inner.v2 > li > em{width:auto}
.lst_nabihim_inner.v3{margin-top:1px}
.lst_nabihim_inner.v3 > li > em{width:auto}

.spot_nabahim.cartoon_feel{border-bottom:1px solid #4cc0db;background:url(../img/bg_cartoon_feel.png) no-repeat 100% 11px;background-size:161px 83px}
.spot_nabahim.cartoon_feel h4 strong{color:#4cc0db}
.spot_nabahim.presentbox{border-bottom:1px solid #7c8be4;background:url(../img/bg_presentbox.png) no-repeat 100% 9px;background-size:170px 89px}
.spot_nabahim.presentbox h4 strong{color:#7c8be4}
.spot_nabahim.nabahim{border-bottom:1px solid #ff9d00;background:url(../img/bg_nabahim.png) no-repeat 100% 20px;background-size:137px 66px}
.spot_nabahim.nabahim h4 strong{color:#ff9d00}
.spot_nabahim.nabahim.v2{height:125px;background-position:100% 43px}
.spot_nabahim.nabahim.v2 h4{top:0;margin-top:16px}
.loc_txt_nabahim{position:absolute;top:43px;left:16px;font-size:12px;color:#666;line-height:14px}
.spot_nabahim.hopehost{height:125px;border-bottom:1px solid #ff4437;background:url(../img/bg_hopehost.png) no-repeat 100% 25px;background-size:102px 80px}
.spot_nabahim.hopehost h4{top:0;margin-top:20px}
.spot_nabahim.hopehost h4 strong{color:#ff4437}
.spot_nabahim.hopehost.v2{height:105px;background-position:100% 13px}
.spot_nabahim.hopehost.v2 h4{top:51%;margin-top:-24px}
.txt_new{display:inline-block;overflow:hidden;position:absolute;top:11px;left:10px;width:5px;height:5px;background:#ff9d00;text-indent:-999em;border-radius:6px}

/* 카툰Feel */
.tit_comment{font-size:14px;color:#222}
.group_comment_regist{padding:11px 0 10px}
.comment_regist_inner{position:relative;margin-top:8px}
.loc_btn_regist{display:inline-block;position:absolute;top:0;right:0}
.loc_comment_input{display:block;padding-right:68px}
.lst_comment{border-top:1px solid #e4e4e4}
.lst_comment > li{padding:8px 16px 6px;border-bottom:1px solid #e4e4e4;font-size:12px;color:#888}
.lst_comment > li:last-child{border-bottom:none}
.comment_view{margin-top:1px;font-size:13px;color:#666;line-height:19px}

/* 희망우체통 당첨자 상세 */
.hope_postbox_winner{text-align:center;padding:20px 16px}
.hope_postbox_winner h4{position:relative;height:28px;margin:0 44px 12px;background:url(../img/bg_ribbon.png) repeat-x;font-size:13px;color:#fff;line-height:30px}
.hope_postbox_winner h4:before{position:absolute;left:-16px;width:31px;height:32px;background:url(../img/bg_ribbon-before.png) no-repeat;content:'';background-size:100%}
.hope_postbox_winner h4:after{position:absolute;right:-16px;width:31px;height:32px;background:url(../img/bg_ribbon-after.png) no-repeat;content:'';background-size:100%}
.banner_box{margin-bottom:12px;padding:10px 44px 8px;border:1px solid #e4e4e4;border-radius:7px;background:#f8f8f8;text-align:left}
.banner_box p{padding-bottom:4px;font-size:12px;color:#222;line-height:17px}
.banner_box p:last-child{padding-bottom:0}
.hope_postbox_winner .postcard{color:#ff9d00}
.hope_postbox_winner .comment{color:#60bb46}
.banner_box .info{color:#666;font-size:12px}
.postbox_winner_lst{padding:0px 44px;text-align:left}
.postbox_winner_lst > li{margin-bottom:15px;line-height:18px}
.postbox_winner_lst li:last-child{margin-bottom:0}
.postbox_winner_lst .winner li{margin-bottom:2px;padding:0 10px;color:#222}
.postbox_winner_lst .winner li > span{display:inline-block;vertical-align:middle}
.postbox_winner_lst .winner li:last-child{margin-bottom:0;padding-bottom:0}
.hope_postbox_winner dt{padding-bottom:2px;font-weight:600}
.text_more2{position:relative;padding:10px 10px 8px;border-top:1px solid #e4e4e4;font-size:13px;text-align:center}
.loc_btn_nabahim{position:absolute;top:73px;left:16px}
.loc_btn_nabahim a{margin-left:5px;vertical-align:middle}
.loc_btn_nabahim a:first-child{margin-left:0}
.loc_btn_nabahim.v2{top:77px}

/* 선물상자 */
.ico_new{display:inline-block;height:16px;border-radius:3px 0;font-size:11px;color:#fff;text-align:center;line-height:19px;lettvertical-align:middle}
.ico_new.notice{width:33px;background:#60bb46;margin:-2px 5px 2px 0}
.ico_new.best{width:33px;background:#ff9d00;margin:-2px 5px 2px 0}

/* 나바힘 spot */
.swiper-wrapper.v2{height:100px}
.swiper-wrapper.v2 img{max-width:100px}
.swiper-wrapper.v2 a{display:block;font-size:13px;font-weight:normal;color:#fff;line-height:1.6}
.loc_banner_visual {position:absolute;top:0;right:16px;text-align:right}
.swiper-pagination{position:absolute;top:2px;right:6px;z-index:11;font-size:12px;color:#fff}
.loc_banner_page{display:inline-block;position:absolute;top:0;right:0;width:51px;height:22px}
.txt_mentor{font-size:12px}
.txt_mentor strong{color:#222}
.text_nabahim_banner{display:table-cell;height:100px;padding-left:20px;font-size:21px;font-weight:100;color:#fff;line-height:24px;vertical-align:middle}
.bgcolor_mbanner_01{background:#1281d2}
.bgcolor_mbanner_02{background:#1281d2}

/* 멘토 상담 */
.tx_question{display:inline-block;width:31px;vertical-align:top}
.tx_question_v2{width:85%;color:#222;vertical-align:top}

/* 카테고리 */
.news_category{margin:6px 10px 0;color:#222;text-align:center}
.news_category dt{font-size:12px;font-weight:bold;color:#5fba46}
.group_main_category{padding:20px 9px 17px;border-bottom:1px solid #e4e4e4}
.lst_maincategory{overflow:hidden}
.lst_maincategory > li{float:left;width:50%}
.lst_maincategory > li > a{display:block;margin:0 7px}
.lst_maincategory > li > a img{border-radius:15px 0 15px 0}

/* 스터디 노하우 공모전 리스트  */
.spot_nabahim.v2 h3{position:absolute;top:51%;left:16px;margin-top:-24px;color:#fffc9e;font-size:15px;line-height:23px}
.spot_nabahim.v2 strong{color:#fff}
.text_result.v2{overflow:hidden;line-height:24px}
.text_result.v2 select{display:inline-block;float:right;vertical-align:middle}
.spot_nabahim.study_knowhow_contest{height:107px;margin-top:-2px;background:#90c577 url(../img/bg_knowhow_contest.png) no-repeat 100% 7px;background-size:198px 96px}
.lst_nabihim.v2>li{position:relative;min-height:106px;padding:0;border-top:1px solid #e4e4e4}
.lst_nabihim.v2>li>a{padding:0 16px;font-size:13px}
.lst_nabihim.v2 .desc_text{padding:12px 100px 8px 0;color:#222}
.lst_nabihim.v2 .desc_text dt{margin:-2px 0 8px;font-weight:bold}
/* 글자두줄 말줄임*/
/* .wb{word-break:keep-all;word-wrap:break-word;white-space:pre-wrap;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto} */
.lst_nabihim.v2 dd{margin-bottom:5px;font-size:12px;color:#666}
.lst_nabihim.v2 dd:last-child{margin-bottom:0}
.ellipsis_ver.v2{overflow:hidden;text-overflow:ellipsis;text-align:left;height:3.2em;white-space:normal;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.ellipsis_ver.v2+dd em{margin-left:1px}
.img_wrap{display:inline-block;position:absolute;top:7px;right:16px}
.img_wrap img{position:relative;top:9px;width:80px;height:80px}
.img_wrap .medal{display:block;position:absolute;top:-8px;left:-10px;width:33px;height:39px;text-indent:-909em}
.img_wrap .gold{background:url(../img/icon_gold.png) no-repeat;background-size:100%;}
.img_wrap .silver{background:url(../img/icon_silver.png) no-repeat;background-size:100%;}
.img_wrap .bronze{background:url(../img/icon_bronze.png) no-repeat;background-size:100%;}

/* 스터디 노하우 공모전 상세보기 */
.bbs_view tr.gold{background:url(../img/icon_gold.png) no-repeat 16px 0;background-size:33px 39px}
.bbs_view tr.silver{background:url(../img/icon_silver.png) no-repeat 16px 0;background-size:33px 39px}
.bbs_view tr.bronze{background:url(../img/icon_bronze.png) no-repeat 16px 0;background-size:33px 39px}

.bbs_view th.th_subject.v2{padding:16px 24px 4px}
.tx_rgt.v2 .ico_comment{text-indent:999em} 
.tx_rgt.v2 em{color:#666} 
.bbs_view .view.v2{padding:18px 16px;border-bottom:1px solid #e4e4e4}
.bbs_view .view.v2 h3{padding-bottom:6px;border-bottom:1px solid #60bb46;color:#60bb46;font-weight:bold;text-align:left}
.bbs_view .view.v2 p{margin-top:7px;color:#666}
.bbs_view .view.v2 .tx_cnt.v2{padding:0 16px}
.tx_lft .writer{display:inline-block;padding:0 8px 0 0}
.tx_lft .writer:after{display:inline-block;width:1px;height:10px;margin-left:8px;background:#e4e4e4;content:''}


@media all and (max-width:320px){

}

@media all and (max-width:359px){
	.hope_postbox_winner{padding:20px 23px}
	/* .banner_box{padding:4px 44px} */
	.hope_postbox_winner h4{margin:0 35px 11px}
}