@charset "utf-8";
/* Malgun Web Standard Team 20180222 */

/* 단락 :: [컨텐츠 공통] */
.section{position:relative;zoom:1}
.section:after{display:block;clear:both;content:''}
.section.v10{margin-bottom:10px}
.section.v20{margin-bottom:20px}
.section.v25{margin-bottom:25px}
.section.v30{margin-bottom:30px}
.section.v35{margin-bottom:35px}

/* 쎈 자신감 꿀템 7자톡 이벤트 */
/* intro */
#wrap{}
.header_inner{position:relative;width:1000px;height:60px;margin:0 auto}
.header_inner h1{height:35px;padding-top:22px;text-align:right}
.logo{display:inline-block;overflow:hidden;width:120px;height:35px;background:url(../img/logo.png) no-repeat 0 0;text-indent:999em}
.intro{overflow:hidden;position:relative}
.intro_inner{position:relative;width:1000px;height:477px;margin:0 auto;background:#fff url(../img/con_evt.png) no-repeat 0 0}
/* 쎈 자신감 꿀템 7자톡 이벤트 모션효과 */
.intro_inner h2{text-indent:-999em}
.intro_inner h2 .tit_motion{display:block;position:absolute}
.intro_inner h2 .tit_motion1{right:144px;top:18px;width:485px;height:78px;background:url(../img/tit_motion1.png) no-repeat;opacity:0}
.intro_inner h2 .tit_motion2{left:133px;top:20px;width:369px;height:225px;background:url(../img/tit_motion2.png) no-repeat; animation-delay:0.3s;opacity:0}
.intro_inner h2 .tit_motion3{left:535px;top:116px;width:338px;height:116px;background:url(../img/tit_motion3.png) no-repeat; animation-delay:0.7s;opacity:0}


.slideX {animation:slideX 0.6s ease-in forwards;}
@keyframes slideX {
	0% {transform:translateX(-80px); opacity:0;}
	100% {transform:translateX(0); opacity:1;}
}
.slideY {animation:slideY 1s ease-in forwards;}
@keyframes slideY {
	0% {transform:translateY(-30px); opacity:0;}
	100% {transform:translateY(0); opacity:1;}
}



/* 꿀템 3종 특별 세트 */
.intro_evt1{background:#f2f2f2 url(../img/evt1_bg.png) no-repeat 46% 0}
.intro_evt1_inner{position:relative;width:1000px;height:960px;margin:0 auto;background:#f2f2f2}
.intro_evt1_inner .evt1_con{width:1044px;height:565px;margin-left:-44px;margin-bottom:14px;background:url(../img/evt1_visual.png) no-repeat 0 0}
.item_lst{overflow:hidden}
.item_lst li{float:left;position:relative;margin-right:26px}
.item_lst li:last-child{margin-right:0}
.item_lst .item{display:block;width:316px;height:316px;text-indent:-999em}
.item_lst .item1{background:url(../img/item1.png)no-repeat}
.item_lst .item2{background:url(../img/item2.png)no-repeat}
.item_lst .item3{background:url(../img/item3.png)no-repeat}
.item_lst .icon_view{position:absolute;z-index:2;top:175px;right:30px;display:block;width:36px;height:36px;background:url(../img/icon_view.png) no-repeat;text-indent:-999em}


/* 쎈 자신감 꿀템이 필요해요! 왜냐하면 */
.intro_evt2{background:#ff6917}
.intro_evt2_inner{position:relative;width:1000px;height:640px;margin:0 auto}
.intro_evt2_inner h3{height:221px;margin-bottom:21px;background:#ff6917 url(../img/evt2_title.png) no-repeat;text-indent:-999em}
.intro_evt2_inner .status{display:inline-block;position:absolute;top:156px;right:0;height:30px;padding-top:20px;border-top:1px solid #fff;border-bottom: 1px solid #fff;font-size:21px;color:#fff;text-align:right;line-height:21px;vertical-align:top}
.intro_evt2_inner .total{font-family:verdana,'Malgun Gothic','맑은 고딕','돋움',dotum,sans-serif;font-size:40px;color:#fffc00;letter-spacing:-1px}
.intro_evt2_inner .total{display:inline-block;margin:-17px 0 17px;line-height:40px;vertical-align:top}

.intro_evt2 .con_wrap{width:318px;height:295px;background:url(../img/bg_box.png) no-repeat}
.con_wrap .img_wrap{height:181px;padding-top:24px;text-align:center}
.con_wrap img{display:inline-block;vertical-align:middle;text-indent:-999em}
.con_wrap.v2 img{margin:0 auto}
.con_wrap .text_wrap{padding:0 30px}
.con_wrap .text_wrap strong{display:block;height:47px;font-size:26px;color:#000;text-align:center;line-height:26px}
.con_wrap .text_wrap p{padding:10px 0;font-size:15px;border-top:1px solid #d9d9d9;color:#888}
.con_wrap .text_wrap span{display:inline-block}
.con_wrap .text_wrap .name{width:120px}
.con_wrap .text_wrap .date{width:80px;margin-left:52px;text-align:right}
/*bxslder 플러그인*/

.bx-wrapper{margin-top:60px;border:none;box-shadow:none;background:transparent !important}
.bx-wrapper .bx-pager{bottom:-48px}
.bx-wrapper .bx-controls-direction a {width:21px;height:32px}

.bx-wrapper .bx-pager.bx-default-pager a{width:15px;height:15px;border-radius:50%;background:#dcdcdc}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus{background:#ff7800;border:none;}
.bx-wrapper .bx-loading{background:none}
.bx-wrapper .btn_center img{display:inline-block}
.bx-wrapper .input_wrap img{display:inline-block}

.slider{overflow:hidden;margin-bottom:3px}
.slider li{float:left;margin-right:23px}
.slider li:last-child{margin-right:0}

/* 참여 방법 */
.intro_evt3{background:#f2f2f2}
.intro_evt3_inner{position:relative;width:1000px;height:1647px;margin:0 auto}
.intro_evt3_inner .step_wrap{height:808px;margin-bottom:40px;background:#fff}
.step_wrap h3{height:326px;margin-bottom:16px;background:url(../img/step1_title.png) no-repeat;text-indent:-999em}
.step_wrap.v2{position:relative;height:573px;margin-bottom:40px;background:url(../img/step2.png) no-repeat}
.intro_evt3_inner .step_info{height:60px;margin-top:49px;background:url(../img/step_info.png) no-repeat;text-indent:-999em}
.group_urlregist{overflow:hidden;/*position:absolute;top:485px;*/width:1000px;margin:0 auto;padding-top:507px;text-align:left}
.lst_input_wrap{padding:0 70px}
.lst_inputform{display:inline-block;margin-left:8px}
.lst_inputform li{}
.lst_inputform li:first-child{margin-top:0}
.lst_inputform li input{height:56px;border:1px solid #888;font-size:19px;color:#666}
.loc_btn_add{position:absolute;display:inline-block;margin-left:9px;vertical-align:middle}
.btn_regist{float:right;margin-right:11px}
.btn_cnt{padding-top:40px;padding-bottom:60px;background:#fff;text-align:center}
.btn_cnt .btn{display:inline-block;width:286px;height:87px;text-indent:-999em}
.btn_member{margin-right:20px;background:url(../img/btn_member.png) no-repeat}
.btn_non_member{background:url(../img/btn_nonmember.png) no-repeat}

/* .radio_box_wrap{position:relative} */
.radio_box_wrap{position:relative;padding:0 79px}
.radio_box_wrap:after{display:block;clear:both;content:''}
.radio_box_wrap li{position:relative;float:left;width:260px;height:321px;margin-right:30px;text-align:center}
.radio_box_wrap li:last-child{margin-right:0}
.radio_box_wrap li a{display:block;padding:30px 0}
.radio_box_wrap .check_item{width:100%;height:100%;text-indent:-999em}
.radio_box_wrap .check_item1{background:url(../img/check_item1.png) no-repeat}
.radio_box_wrap .check_item2{background:url(../img/check_item2.png) no-repeat}
.radio_box_wrap .check_item3{background:url(../img/check_item3.png) no-repeat}
.radio_box_wrap .check_item1.on{background:url(../img/check_item1_on.png) no-repeat}
.radio_box_wrap .check_item2.on{background:url(../img/check_item2_on.png) no-repeat}
.radio_box_wrap .check_item3.on{background:url(../img/check_item3_on.png) no-repeat}


/* 라디오버튼 커스텀 */
input[type="radio"] {display:none}
input[type="radio"] + label  {display:inline-block;position:absolute;left:50%;bottom:-46px;width:84px;height:84px;margin-left:-42px;vertical-align:middle;background:url(../img/checkbox.png) no-repeat;cursor:pointer;}
input[type="radio"]:checked + label{background:url(../img/checkbox_on.png) no-repeat}

.intro_evt3 .input_box_wrap{position:absolute;bottom:120px}


.input_box_wrap .input_text{overflow:hidden;position:relative;height:100px;margin:-6px auto;padding:0 137px}
.input_box_wrap .loc_input{float:left;position:relative;left:-9px;width:76px;height:76px;margin:10px 10px 9px 19px}
.input_box_wrap .loc_input1{left:-9px}
.input_box_wrap .loc_input2{left:-9px}
.input_box_wrap .loc_input3{left:-9px}
.input_box_wrap .loc_input4{left:-9px}
.input_box_wrap .loc_input5{left:-9px}
.input_box_wrap .loc_input6{left:-9px}
.input_box_wrap .loc_input7{left:3px;margin:7px 10px 0 7px}
.input_box_wrap .input_text input:focus{}
.input_box_wrap .input_text input{position:absolute;padding:0;width:76px;height:76px;border:none;font-size:45px;color:#333;text-align:center;line-height:76px}
.btn_cnt.v2{position:absolute;bottom:90px;width:1000px;margin:0 auto;padding:0;background:none}


/* 인풋박스 placeholder */
.lst_inputform li input::placeholder {color:#666 !important}
.lst_inputform li input::-webkit-input-placeholder {color:#666 !important}
.lst_inputform li input:-moz-placeholder {color:#666 !important}
.lst_inputform li input:-ms-placeholder {color:#666 !important}

/* 보너스 이벤트 */
.intro_evt4{min-height:752px;padding-bottom:90px;background:#ffd928}
.intro_evt4_inner{position:relative;width:1000px;min-height:752px;margin:0 auto;background:url(../img/con_evt4.png) no-repeat 0 0}
.intro_evt4_inner .btn_edit{position:absolute;top:39px;left:164px}
.intro_evt4_inner .lst_sns{position:absolute;right:229px;top:400px;padding:0 30px}
.intro_evt4_inner .lst_sns:after{display:block;clear:both;content:''}

.lst_sns > li{float:left;margin-right:10px}
.lst_sns > li:last-child{margin-right:0}
.sns{display:inline-block;overflow:hidden;width:89px;height:87px;text-indent:-999em;vertical-align:middle;}
.btn_blog{width:88px;background:url(../img/icon_blog.png)no-repeat}
.btn_facebook{background:url(../img/icon_facebook.png)no-repeat}
.btn_story{background:url(../img/icon_story.png)no-repeat}

.intro_evt4_inner .input_wrap{position:absolute;right:30px;bottom:148px;width:620px;height:110px;}
.intro_evt4_inner .input_wrap input{width:454px;height:48px;border:1px solid #aaa;font-size:19px}
.intro_evt4_inner .input_wrap input.first{margin-bottom:10px}
.intro_evt4_inner .input_wrap .btn_reg{position:absolute;top:0;right:0}

/* 알아두세요 */
.intro_evt5{padding-top:40px;background:#f2f2f2}
.intro_evt5_inner{position:relative;width:1000px;height:230px;margin:0 auto;background:url(../img/con_evt5.png) no-repeat 0 0}
.intro_evt5_inner .btn_ok{position:absolute;;bottom:36px;left:459px;width:99px;height:28px;background:url(../img/btn_ok.png) no-repeat;text-indent:-999em}

/* footer */
.footer{padding:6px 0 110px;background:#f2f2f2;text-align:center}
.footer .footer_inner{width:1000px;margin:0 auto}
.footer .logo{display:inline-block;overflow:hidden;width:120px;height:35px;background:url(../img/footer_logo.png) no-repeat 0 0;text-indent:-999em}

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/

.md-perspective,
.md-perspective body{overflow:hidden;height:100%}
.md-perspective body{background:#222;-webkit-perspective:600px;-moz-perspective:600px;perspective:600px}
#wrap{min-height:100%}

.md-modal{position:fixed;top:50%;left:50%;width:892px;height:auto;margin-left:-446px;z-index:2000;visibility:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;/* -webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%) */}
.md-show{visibility:visible}
.md-overlay{position:fixed;top:0;left:0;z-index:1000;width:100%;height:100%;background:rgba(0,0,0,0.7);visibility:hidden;opacity:0;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.md-show ~ .md-overlay{opacity:1;visibility:visible}

.md-modal{top:50%;margin-top:-400px}
.md-modal.v2{top:50%;width:932px;margin-top:-400px;margin-left:-466px}
.md-modal.v2 .layerpopup{width:932px;height:800px}
.md-modal.v2 .layerpopup.pop2{background:url(../img/popup2.png) no-repeat}
.md-modal.v2 .layerpopup.pop3{background:url(../img/popup3.png) no-repeat}
.md-modal.v2 .layerpopup.pop4{background:url(../img/popup4.png) no-repeat}
/* Effect 19:  Slip in from the top with perspective on container */
.md-show.md-effect ~ #wrap{overflow:hidden;height:100%}
.md-show.md-effect ~ .md-overlay{-webkit-transition:all 0.5s;transition:all 0.5s}

.md-show.md-effect ~ #wrap,
.md-show.md-effect ~ .md-overlay{-webkit-transform-style:preserve-3d;-webkit-transform-origin:50% 100%;-webkit-animation:OpenTop 0.5s forwards ease-in;transform-style:preserve-3d;transform-origin:50% 100%;animation: OpenTop 0.5s forwards ease-in}

.layerpopup{width:892px;height:643px;padding-top:157px;background:url(../img/bg_popup.png) no-repeat;font-size:14px;color:#333}
.scroll_content{height:468px;overflow-y:scroll}
.md-close{display:block;overflow:hidden;width:35px;height:36px;position:absolute;top:40px;right:40px;background:url(../img/btn_popclose.png) no-repeat;cursor:pointer;text-indent:-999em}
.pop_content{height:100%;padding:30px 50px 76px}
.tit_h4_infocollect{overflow:hidden;width:340px;height:20px;background:url(../img/tit_h4_infocollect.png) no-repeat;text-indent:-999em}
.tit_h4_evtjoin{overflow:hidden;width:133px;height:18px;background:url(../img/tit_h4_evtjoin.png) no-repeat;text-indent:-999em}
.box_infocollect{margin-top:12px;padding:13px 27px 25px;border:1px solid #ddd;color:#666}
.box_infocollect .mb5{margin-bottom:5px}
.box_agree{height:43px;border:1px solid #ccc;border-top:none;background:#f0f0f0;text-align:center;line-height:44px}
.box_agree input[type=checkbox]{width:23px;height:23px;margin-right:8px}
.group_pop_note{overflow:hidden;width:684px;height:121px;margin-bottom:30px;background:url(../img/txt_pop_note.png) no-repeat;text-indent:-999em}

.tbl_pop{width:100%;margin-top:12px;border:1px solid #ddd;font-size:15px}
.tbl_pop th{padding:10px 40px;background:#f0f0f0;border-bottom:1px solid #ddd;color:#333;text-align:left}
.tbl_pop td{padding:10px 40px;border-bottom:1px solid #ddd}
.tbl_pop td .address_input{margin-top:3px}
/* 우편번호 검색 */
.zipcode{display:inline-block;width:92px;height:32px;background:url(../img/zip_code_serarch.png) no-repeat;vertical-align:middle;text-indent:-999em}
/* 휴대폰번호 정보 */
.phone_info{margin-top:5px;font-size:13px;color:#fb3202}
.md-effect .md-content{-webkit-transform:translateY(-200%);-moz-transform:translateY(-200%);-ms-transform:translateY(-200%);transform:translateY(-200%);opacity:0}
.md-show.md-effect .md-content{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;-webkit-transition:all 0.5s 0.1s;transition:all 0.5s 0.1s}
/* 등록완료 */
.btn_wrap{width:100%;margin-top:30px;text-align:center}
.btn_reg{display:inline-block;width:223px;height:69px;background:url(../img/btn_reg.png) no-repeat;text-indent: -999em}

/* 미디어쿼리 */
@media all and (min-width:768px){
  #wrap{min-width:1100px}
}



