@charset "utf-8";
@font-face {
	font-family:'NanumBarunGothicBold';
	src: local('NanumBarunGothicBold'),
	url(fonts/NanumBarunGothicBold.eot) format('eot'),
	url(fonts/NanumBarunGothicBold.ttf) format('truetype'),
	url(fonts/NanumBarunGothicBold.woff) format('woff'),
	url(fonts/NanumBarunGothicBold.woff2) format('woff2');
}
@font-face {
	font-family:'NanumBarunGothic';
	src: local('NanumBarunGothic'),
	url(fonts/NanumBarunGothic.eot) format('eot'),
	url(fonts/NanumBarunGothic.ttf) format('truetype'),
	url(fonts/NanumBarunGothic.woff) format('woff'),
	url(fonts/NanumBarunGothic.woff2) format('woff2');
}

@font-face {
	font-family:'NanumGothic';
	src: local('NanumGothic'),
	url(fonts/NanumGothic.eot) format('eot'),
	url(fonts/NanumGothic.ttf) format('truetype'),
	url(fonts/NanumGothic.woff) format('woff'),
	url(fonts/NanumGothic.woff2) format('woff2');
}


