 /*공통*/
/*sprite css*/
.sp_img{display:block;background:url(../img/m_sprite.png)no-repeat;background-size:265px 263px;text-indent:-999em}
.wrap{position:relative;z-index:99;left:0;background:#fff;transition: all 0.5s ease}

/*.center { position: absolute; left: 50%; transform: translateX(-50%)}*/

/*헤더*/
.header{overflow:hidden;position:relative;width:100%;height:48px}
.logo{position:absolute;left:50%;top:50%;width:74px;height:30px;margin-top:-15px;background-position:-135px -33px;transform: translateX(-50%)}
.btn_all{position:absolute;right:7px;top:50%;width:33px;height:29px;margin-top:-14.5px;background-position:-76px -56px}

/*사이드 전체메뉴*/
.side_wrap{overflow-y:auto;display:none;position:fixed;z-index:1;width:100%;min-width:220px;height:100%;background:url(../img/side_bg.png)no-repeat;background-size:cover;color:#c1c1c1}
.side_wrap.on{display:block}
.main_menu{position:absolute;top:20px;right:0;padding:0 17px}

/*유틸메뉴*/
/*검색*/
.search_wrap{position:relative;width:176px;height:33px;margin-bottom:18px;border:1px solid #10c4d0;border-radius:20px;box-sizing:border-box}
.search_wrap input{width:100%;height:100%;padding:6px 10px 10px;border:none;background:none;color:#fff}
.search_wrap input::placeholder {color:#fff}
.icon_search{position:absolute;top:50%;right:10px;width:30px;height:30px;margin-top:-15px;background-position:-202px 0}

.util_menu{padding-bottom:10px;border-bottom:1px solid #0ff3fe}
.util_lst{overflow:hidden}
.util_lst dd{position:relative;float:left;width:50%;height:40px;margin:8px 0;text-align:center;box-sizing:border-box}
.util_lst dd:first-of-type:after{display:block;position:absolute;right:0;top:50%;width:1px;height:37px;margin-top:-15px;background:url(../img/list_bar.png)no-repeat;content:""}
.util_lst dd>a{color:#0ff3fe;font-size:14px}

/*홈으로*/
.icon_home{width:54px;height:24px;margin:0 auto;background-position:-63px -117px;vertical-align:middle}
.icon_home+span{color:#0ff3fe;font-size:14px}
/*공항이동*/
.icon_airport_moving{width:32px;height:32px;margin:-9px auto 0;background-position:0px -67px;vertical-align:middle}
.icon_airport_moving+span{padding-top:25px;color:#0ff3fe;font-size:14px}

/*nav*/
.main_menu .nav{position:relative;margin-top:18px;background:url(../img/nav_bar.png)0% 50% no-repeat;background-size:contain}
.main_menu .nav .gnb>li{position:relative;margin-left:-1px;margin-bottom:11px;background:url(../img/dot.png)0% 50% no-repeat;background-size:4px 4px}
.main_menu .nav li.on{text-shadow:1px 1px 10px #fff,1px 1px 10px #ccc}
/*비행기 이동*/
.icon_airplane{display:none;position:absolute;left:-18px;top:-4px;width:38px;height:39px;background-position:-143px -102px}

.main_menu .nav li.on .icon_airplane{display:block}
.main_menu .nav li.sub_have{background:url(../img/dot.png)0% 20% no-repeat;background-size:4px 4px}
.main_menu .nav li>a{margin-left:20px;font-size:17px;color:#c1c1c1;vertical-align:middle}
.main_menu .nav li.on>a{color:#fff}
.main_menu .nav span{display:inline-block;text-align:center;vertical-align:middle}
.main_menu .nav .circle{width:28px;height:28px;margin-right:9px;border:1px solid rgba(255,255,255,0.2);border-radius:50%}
.main_menu .nav .sub{margin-left:38px}
.main_menu .nav .sub>li>a{font-size:14px;color:#c1c1c1;text-shadow:none}
.main_menu .nav li.on .sub>li>a{color:#fefefe}

.icon_myplan_s.on{width:22px;height:23px;background-position:-158px 0;}
.icon_myplan_s{width:22px;height:23px;background-position:-97px -142px}
.icon_flight_info_s{width:24px;height:21px;background-position:-99px -31px}
.icon_flight_info_s.on{width:24px;height:21px;background-position:-109px -52px}
.icon_ticket_booking_s.on{width:22px;height:24px;background-position:-22px -219px}
.icon_ticket_booking_s{width:22px;height:24px;background-position:-71px -212px}
.icon_airport_guide_s.on{width:25px;height:23px;background-position:0px -44px}
.icon_airport_guide_s{width:25px;height:23px;background-position:-62px 0px}
.icon_transport_guide_s.on{width:24px;height:22px;background-position:-199px -130px}
.icon_transport_guide_s{width:24px;height:22px;background-position:-163px -173px}
.icon_parking_guide_s.on{width:22px;height:25px;background-position:0px -178px}
.icon_parking_guide_s{width:22px;height:25px;background-position:-181px 0px}
.icon_nav_s.on{width:24px;height:26px;background-position:-40px -167px}
.icon_nav_s{width:24px;height:26px;background-position:-119px -128px}
.icon_accessibility_s.on{width:26px;height:22px;background-position:-15px 0px}
.icon_accessibility_s{width:26px;height:22px;background-position:0px -22px}
.icon_mobility_handicapped_service_s.on{width:24px;height:26px;background-position:-40px -142px}
.icon_mobility_handicapped_service_s{width:24px;height:26px;background-position:-118px -102px}
.icon_tourist_info_s.on{width:20px;height:20px;background-position:-216px -89px}
.icon_tourist_info_s{width:20px;height:20px;background-position:-234px 0}
.icon_route_map_s.on{width:27px;height:24px;background-position:-96px -165px}
.icon_route_map_s{width:27px;height:24px;background-position:-21px -195px}
.icon_tel_info_s.on{width:22px;height:25px;background-position:-48px -211px}
.icon_tel_info_s{width:22px;height:25px;background-position:0px -219px}
.icon_setting_s.on{width:24px;height:23px;background-position:-196px -63px}
.icon_setting_s{width:24px;height:23px;background-position:-207px -30px}

/*main_top*/
.main_top{position:relative;width:100%;height:40vh;background:url(../img/main_bg.png)no-repeat;background-size:100% 100%}
/*title_wrap*/
.title_wrap{padding-top:27px}
.title_wrap p{height:40px;padding-left:16px;font-size:30px;color:#fff;font-weight:600}
.title_wrap .en{display:block;height:30px;padding-left:16px;font-size:21px;color:#0ff3fe}
.icon_mark{display:inline-block;width:40px;height:40px;margin-top:-5px;background-position:0 -137px;vertical-align:middle}
/*today_wrap*/
.today_wrap p{padding-left:16px;color:#fff}
.today_wrap p>span{font-size:25px}
.today_wrap .temp{width:137px;padding-top:4px;border-top:1px solid #a7e6f3;font-size:40px;font-weight:600;line-height:35px}
.today_wrap .temp span{margin-left:-9px}
.today_wrap .date{padding-left:16px;color:#fff;font-size:14px}
.today_wrap .temp .icon_weather{display:inline-block;width:49px;height:40px;margin:-3px 0 0;background-position:-93px -222px;vertical-align:top;text-indent:0}


/*status_wrap*/
.status_wrap{position:relative;width:100%;height:97px;padding:20px 0;background:rgba(7,132,188,0.9);box-sizing:border-box}
.status_wrap .status{padding-left:45px;font-size:22px;color:#fff}
.status_wrap .circle{display:inline-block;position:relative;width:50px;height:50px;border-radius:50%;background:#0ff3fe;vertical-align:top}
.status_wrap .msg{position:absolute;left:100px;bottom:32px;font-size:14px;color:rgba(255,255,255,0.5)}
/*화살표*/
.arrow{position:absolute;top:50%;margin-top:-16px}

/*bxslider 커스텀*/
.bx-wrapper{margin-bottom:-60px;border:none;box-shadow:none}
.bx-wrapper .bx-pager{bottom:5px}
.bx-wrapper .bx-controls-direction a {top:14%;width:22px;height:33px}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-prev,.bx-wrapper .bx-prev:focus,.bx-wrapper .bx-prev:hover{left:0;width:22px;height:33px;background:url(../img/m_sprite.png)no-repeat;background-size:265px 263px;background-position:-136px 0}
.bx-wrapper .bx-next,.bx-wrapper .bx-next:focus,.bx-wrapper .bx-next:hover{right:0;width:22px;height:33px;background:url(../img/m_sprite.png)no-repeat;background-size:265px 263px;background-position:-174px -63px}
.bx-wrapper .bx-pager.bx-default-pager a{width:12px;height:12px;border:1px solid #2baaca;border-radius:50%;background:#fff}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus{background:#0283bc}
.bx-wrapper .bx-loading{background:none}

/*nav*/
.quick_nav{overflow:hidden;margin:22px}
.quick_nav .gnb>li{float:left;width:25%;margin-bottom:18px;text-align:center}
.quick_nav .gnb>li>a{font-size:14px;color:#414141}
.quick_nav span{display:block;vertical-align:middle}
.quick_nav .border{position:relative;width:52px;height:52px;margin:0 auto;padding:6px;border:1px solid #32afce;border-radius:50%;background:#fff;box-sizing:border-box}
.quick_nav .circle{width:100%;height:100%;border-radius:50%;background:#d3e9f4;box-sizing:border-box}
.quick_nav .sp_img{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}

/*메인01*/
/*status_wrap*/
.icon_before_entry{display:inline-block;width:44px;height:36px;margin-top:5px;background-position:-32px -65px}
/*nav*/
.icon_flight_info{width:30px;height:32px;background-position:-76px -86px}
.icon_transport_guide{width:38px;height:26px;background-position:-44px -236px}
.icon_parking_guide{width:32px;height:38px;background-position:-64px -172px}
.icon_tel_info{width:32px;height:34px;background-position:-127px -184px}
.icon_myplan{width:30px;height:30px;background-position:-65px -142px}
.icon_entry{width:28px;height:34px;background-position:-35px -101px}
.icon_check_lst{width:36px;height:30px;background-position:-99px 0}
.icon_ticketing_info{width:36px;height:36px;background-position:-221px -53px}

/*메인02*/
/*status_wrap*/
.airport{background:#74cb30}
.airport .circle{background:#c6f662}
.icon_airport_arrival{position:absolute;left:50%;margin-left:-18px;width:36px;height:43px;background-position:-26px -22px}
/*nav*/
.icon_route_map{width:38px;height:28px;background-position:-123px -155px}
.icon_shopping{width:30px;height:32px;background-position:-96px -190px}
.icon_food{width:34px;height:28px;background-position:-109px -73px}
.icon_tea{width:34px;height:32px;background-position:-163px -141px}
.icon_service{width:32px;height:34px;background-position:-181px -96px}

/*메인03*/
/*status_wrap*/
.destination{background:#10c3b8}
.destination .circle{background:#87f8dc}
.destination .msg{bottom:12px}

.icon_destination_arrival{position:absolute;top:50%;left:50%;width:35px;height:33px;margin-top:-20px;margin-left:-17px;background-position:0px -101px}
/*nav*/
.icon_airport_guide{width:36px;height:32px;background-position:-62px -23px}
.icon_tourist_info{width:32px;height:32px;background-position:-232px -20px}
.icon_mytrip{width:28px;height:36px;background-position:-145px -63px}



/*퀵메뉴 on이미지 추가*/
.quick_nav li.on .circle{background:#049ec4}
.quick_nav li.on .circle .sp_img2{background:url(../img/m_sprite2.png)no-repeat;background-size:167px 144px;text-indent:-999em}
/*메인01*/
.icon_flight_info.on{background-position:0 -26.5px!important}
.icon_transport_guide.on{width:38px;height:26px;background-position:0 0!important}
.icon_parking_guide.on{width:32px;height:38px;background-position:-38px 0!important}
.icon_tel_info.on{width:32px;height:34px;background-position:-134px 0!important}
.icon_myplan.on{width:30px;height:30px;background-position:-98px -33px!important}
.icon_entry.on{width:28px;height:34px;background-position:-76px -100.5px!important}
.icon_check_lst.on {width:36px;height:30px;background-position:-104px -63.5px!important}
.icon_ticketing_info.on {width:36px;height:36px;background-position:-39.5px -107.5px!important}

/*메인02*/
.icon_route_map.on{width:38px;height:28px;background-position:0 -109.5px!important}
.icon_shopping.on{width:30px;height:32px;background-position:-103px 0!important}
.icon_food.on{width:34px;height:28px;background-position:-68.5px -72px!important}
.icon_tea.on{width:34px;height:32px;background-position:-33px -75.5px!important}
.icon_service.on{width:32px;height:34px;background-position:0 -75.5px!important}

/*메인03*/
.icon_airport_guide.on{width:36px;height:32px;background-position: -60.5px -39px!important}
.icon_tourist_info.on{width:32px;height:32px;background-position: -70px 0!important}
.icon_mytrip.on{width:32px;height:32px;background-position: -31px -39px!important}




/*미디어쿼리*/
/*해상도 360이상*/
@media only screen and (min-width : 360px) {
	.destination .msg{bottom:32px}
}

/*.℃{width:15px;height:15px;background-position:0px 0px}*/






