@import url("common.css");

@font-face{font-family:'Noto';font-style:normal;font-weight:100;src:url('../fonts/notokr/notokr-light.eot');src:url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),url('../font/notokr-light.woff2') format('woff2'),url('../font/notokr-light.woff') format('woff')}
 @font-face{font-family:'Noto';font-style:normal;font-weight:300;src:url('../fonts/notokr/notokr-regular.eot');src:url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),url('../font/notokr-regular.woff2') format('woff2'),url('../font/notokr-regular.woff') format('woff')}
@font-face{font-family:'Noto';font-style:normal;font-weight:500;src:url('../fonts/notokr/notokr-medium.eot');src:url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),url('../font/notokr-medium.woff2') format('woff2'),url('../font/notokr-medium.woff') format('woff')}
 @font-face{font-family:'Noto';font-style:normal;font-weight:700;src:url('../fonts/notokr/notokr-bold.eot');src:url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),url('../font/notokr-bold.woff2') format('woff2'),url('../font/notokr-bold.woff') format('woff')}
body{font-family:Noto,'Malgun Gothic','맑은 고딕','돋움',dotum,sans-serif;}
input[type=text]{border-radius:0;-webkit-appearance:none}

#wrap {position:relative; width:100%; margin:0 auto}
#wrap > div {position:relative;}
#wrap img {width:100%;}

.con{position: relative}

/* 참여방법 */

/* 우리 아이 쎈수학 사용후기 등록하기 */
.con4 .input_box{margin-top:-5%}
.con4-2{overflow:hidden;height:100%;margin:16px 5% 0 6%}
.con4-2 .btn_wrap{width:26%;margin:0 auto}
.lst_inputform{margin:0 40px 15px  0}
.lst_inputform li{margin-bottom:8px}
.lst_inputform li:last-child{margin-bottom:0}
.lst_inputform li input{width:100%;height:32px;padding:0 10px;border:1px solid #aaa;font-size:13px;color:#999}
.btn_add{position:absolute;top:0;right:0;display:inline-block;width:32px;height:32px;vertical-align:middle}
p.btn_wrap{width:26%;margin:0 auto 30px}
/* 인풋박스 placeholder */
.lst_inputform li input::-webkit-input-placeholder {color:#888 !important;text-align:left;letter-spacing:-1px}
.lst_inputform li input:-moz-placeholder {color:#888 !important;text-align:left; letter-spacing:-1px}

/* 쎈수학으로 우리 아이 수학 자신감 완성! 우리 아이만의 쎈수학 활용 팁 공개 */
.con5{padding:0 16px;background:#f2f2f2}
.con5 h3{margin-bottom:20px}
.con5 .inner{height:100%}
.con5 .inner li{position:relative;margin-top:10px;padding-right:15px;border:1px solid #ccc;background:#fff}
.con5 .inner li:first-child{margin-top:0}
.con5 .img{position:absolute;top:0;width:100px;height:100%}
.con5 .img p{position:absolute;top:50%;right:0;left:0;text-align:center;transform:translateY(-50%)}
.con5 .img p img{width:auto !important}

.con5 .link {margin-left:100px;padding:6px 0 0;word-wrap:break-word}
.con5 .link a{display:block;color:#666;font-size:14px}
.con5 .link .link_list>li{padding-bottom:10px;border:0;border-bottom:1px solid #d4d4d4}
.con5 .info {margin-left:100px;padding-top:10px}
.con5 .info span{display:inline-block;position:relative;padding:0 9px;color:#999;font-size:14px;line-height:14px}
.con5 .info .writer{padding-left:0}
.con5 .info .writer:after{display:inline-block;position:absolute;top:1px;right:0;width:1px;height:12px;background:#b8b8b8;content:''}
.list{}
.list > li{padding:12px 0}

/*페이징*/
.pagination{position:relative;padding:15px 0 30px;text-align:center}
.pagination span{display:inline-block;padding:0 5px;vertical-align:middle;line-height:22px}
.pagination>div{display:inline-block;padding:1px 5px 2px;font-size:14px}
.pagination a{display:inline-block;padding:0 5px;color:#666}
.pagination strong{display:inline-block;padding:0 5px;color:#ff684a;text-decoration:underline}
.con5 .btn_arrow{display:inline-block;width:20px;height:20px;padding:0}


#footer {padding:30px 0}
