body,
html {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 14px;
	word-break: break-word;
}

.container-fluid {
	padding: 0 4.2%;
}

.container {
	max-width: 1080px;
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
}

input {
	outline: 0;
}

.contents {
	position: relative;
	z-index: 500;
	min-height: 700px;
}

img {
	max-width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
body.modal-open .body-wrap {
	filter: blur(4px);
}

button {
	background: transparent;
	border: none;
	outline: none;
}

.btn-primary {
	padding: 1px 6px;
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus {
	color: #fff;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

@media (min-width: 2560px) {
	.container-fluid {
		padding: 0 3.1%;
	}
}

/* 애니메이션 키프레임 */
@keyframes fadeInUp {
	from {
		transform: translate3d(0, 40px, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
