.sticky {
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.95);
	/* transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s; */
}
.z900 > .sticky {
	z-index: 900;
}

.sticky .gnb-shadow {
	/* box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.11); */
}

.sticky .gnb-sotwo .top {
	height: 60px;
}

.sticky .gnb-sotwo .top .nav-link {
	color: #1e1e1e;
}

.sticky .gnb-sotwo .top .logo a {
	line-height: 60px;
}

.sticky .gnb-sotwo .top .nav-item .nav-link {
	line-height: 60px;
}

.sticky .gnb-sotwo .top .logo img:first-child {
	display: none;
}

.sticky .gnb-sotwo .top .logo img:last-child {
	display: unset;
}

.sticky .gnb-sotwo .top .icon.sm:first-child {
	display: none;
}

.sticky .gnb-sotwo .top .icon.sm:last-child {
	display: unset;
}

.contents .position-relative {
	z-index: 100;
}
.gnb .top .logo.text a {
	display: none;
}

.sticky .gnb .top .logo.text a {
	display: inline-block;
	line-height: 60px;
	font-size: 18px;
}

.sticky .gnb .title {
	display: none !important;
}

.sticky .gnb .top {
	height: 60px;
}

.sticky .gnb .top .logo a {
	line-height: 60px;
}

.sticky .gnb .top .nav-item .nav-link {
	line-height: 60px;
}

.list.sales-wait li {
	opacity: 0;
}

.list.sales-wait + .list-scroll-title {
	opacity: 0;
}

.sticky .detail.title {
	margin-top: 80px;
}
.detail.dist-sticky .top strong {
	display: inline-block;
}
@media (max-width: 992px) {
	.sticky .detail.title {
		margin-top: 50px;
	}
	.gnb .top .logo.text a {
		display: inline-block;
	}
	.sticky .gnb .top .logo.text a {
		line-height: 50px;
		font-size: 14px;
	}
}

/* react-toast */
.Toastify__toast--dark {
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.Toastify__toast-body {
	text-align: center !important;
}
.Toastify__close-button {
	display: none;
}
/* react-toast */
