/* List : Sales Wait */
.list.sales-wait {
    list-style: none;
    padding: 70px 0 0 0;
    transition: all ease 0.2s 0s;
    margin: 0;
}
.list.sales-wait + .list-scroll-title {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: rotate(270deg) translateY(-100px);
}
.list.sales-wait > li {
    padding-left: 280px;
    padding-right: 0;
}
.list.sales-wait > li:nth-child(2n) {
    padding-left: 160px;
    padding-right: 120px;
}
.list.sales-wait > li > .cell {
    margin: 0 0 54px 0;
    position: relative;
    display: block;
    color: #222;
}
.list.sales-wait > li > .cell > .image {
    text-align: center;
}
.list.sales-wait > li > .cell > .image > img {
    width: 520px;
    height: 520px;
    max-width: 100%;
}
.list.sales-wait > li > .cell > .profit {
    text-align: center;
    position: absolute;
    top: -21px;
    right: 30px;
    width: 116px;
    height: 116px;
    background-color: #222222;
    color: #fff;
}
.list.sales-wait > li > .cell > .profit p {
    display: inline-block;
    margin: 0;
    padding: 26px 0 0 0;
}
.list.sales-wait > li > .cell > .profit p strong {
    display: block;
    font-family: "Futura Std Heavy";
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.56px;
    color: #ffffff;
    height: 33px;
    line-height: 33px;
}
.list.sales-wait > li > .cell > .profit p span {
    display: block;
    font-size: 13px;
    letter-spacing: -0.52px;
    height: 27px;
    line-height: 27px;
}
.list.sales-wait > li > .cell > .left {
    position: absolute;
    bottom: 35px;
    left: 41px;
}
.list.sales-wait > li > .cell > .left > .name {
    font-family: "Futura Std Heavy";
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: normal;
    color: #222222;
    width: 210px;
}
.list.sales-wait > li > .cell > .left > .option {
    font-size: 14px;
    line-height: 1.14;
    color: #222222;
    width: 210px;
}
.list.sales-wait > li > .cell > .right {
    position: absolute;
    bottom: 35px;
    right: 41px;
}
.list.sales-wait > li > .cell > .right .no span {
    margin-right: 16px;
}
.list.sales-wait > li > .cell > .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    height: 6px;
    border-radius: 0;
}
.list.sales-wait > li > .cell > .progress > .progress-bar {
    background-color: #000000;
    border-radius: 0;
}
.list.sales-wait > li > .cell > .arrow {
    position: absolute;
    top: 240px;
    right: -40px;
    width: auto;
}
.list.sales-wait > li > .cell > .arrow img {
    width: 80px;
}

.list.sales-wait > li > .cell.none {
    background-color: #eff3f7;
}
.list.sales-wait > li > .cell.none .profit {
    background-color: #c3cbd6;
}
.list.sales-wait > li > .cell.none .name {
    color: #c3cbd6;
}
.list.sales-wait > li > .cell.none .right .no {
    color: #c3cbd6;
}
.list.sales-wait > li > .cell.none .image img {
    opacity: 0.35;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.list.sales-wait > li > .cell.none .floating {
    position: absolute;
    top: 381px;
    left: 0;
    width: 100%;
    text-align: center;
}

.list.sales-wait > li > .cell.none .floating h5 {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.73;
    letter-spacing: normal;
    text-align: center;
    color: #5c5c5c;
}

.list.sales-wait > li > .cell.none .floating h4 {
    margin: 8px 0 0 0;
    height: 52px;
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
}
.list.sales-wait > li > .cell.none .floating h4 u {
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.list.sales-wait > li > .cell.none .floating h4 span {
    position: relative;
    display: inline-block;
    z-index: 200;
}
.list.sales-wait > li > .cell.none .floating h4 u::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    background-color: #7ddec5;
    height: 16px;
    width: 100%;
    z-index: 100;
}

@media (max-width: 992px) {
    .list.sales-wait {
        padding: 54px 0 0 0;
    }
    .list.sales-wait > li {
        padding: 0 13px;
    }
    .list.sales-wait > li:nth-child(2n) {
        padding: 0 13px;
    }
    .list.sales-wait > li > .cell > .arrow {
        display: none;
    }
    .list.sales-wait > li > .cell > .image {
        height: 380px;
        line-height: 420px;
    }
    .list.sales-wait > li > .cell > .image > img {
        max-width: 310px;
        max-height: 310px;
    }
    .list.sales-wait > li > .cell > .left {
        position: absolute;
        top: -17px;
        left: 31px;
    }
    .list.sales-wait > li > .cell > .left > .name {
        font-family: "Futura Std Heavy";
        font-size: 20px;
        font-weight: 900;
        line-height: 1.4;
        /* letter-spacing: -0.05em; */
        /* color: #222222; */
        width: 200px;
    }

    .list.sales-wait > li > .cell > .profit {
        text-align: center;
        position: absolute;
        top: -14px;
        right: 28px;
        width: 78px;
        height: 78px;
        background-color: #222222;
        color: #fff;
    }
    .list.sales-wait > li > .cell > .profit p {
        display: inline-block;
        margin: 0;
        padding: 23px 0 0 0;
    }
    .list.sales-wait > li > .cell > .profit p strong {
        font-size: 22px;
        letter-spacing: 0.41px;
        height: 22px;
        line-height: 22px;
    }
    .list.sales-wait > li > .cell > .profit p span {
        font-size: 12px;
        letter-spacing: -0.48px;
        height: 18px;
        line-height: 18px;
        color: #999999;
    }
    .list.sales-wait > li > .cell > .right {
        position: absolute;
        bottom: 16px;
        left: 31px;
        line-height: 20px;
    }
    .list.sales-wait > li > .cell > .right .no {
        font-size: 12px;
    }
    .list.sales-wait > li > .cell > .right .no span {
        display: block;
    }
    .list.sales-wait > li > .cell.none > .profit p span {
        color: #fff;
    }
    .list.sales-wait > li > .cell.none .floating {
        position: absolute;
        top: 210px;
        left: auto;
        right: 20px;
    }
    .list.sales-wait > li > .cell.none .floating h5 {
        font-size: 12px;
    }
    .list.sales-wait > li > .cell.none .floating p img {
        width: 200px;
    }
}
/* List : Sales Wait */

/* List : Sales Closed */
.list.sales-closed {
    list-style: none;
    padding: 24px 0 0 0;
    transition: all ease 0.2s 0s;
    margin: 0;
}
.list.sales-closed .none {
    padding: 200px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}
.list.sales-closed > div {
    padding: 0 10px;
}
.list.sales-closed .cell {
    padding: 0 0 41px 0;
    cursor: pointer;
}
.list.sales-closed .cell .image {
    height: 320px;
    line-height: 320px;
    margin-bottom: 9px;
    position: relative;
    overflow: hidden;
}
.list.sales-closed .cell .image .status {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    line-height: 35px;
    border-radius: 0;
    background-color: #b2bbc5;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -0.45px;
    text-align: center;
    color: #fff;
    padding: 0 12px;
}
.list.sales-closed .cell .image .status.plus {
    background-color: #ee604f;
}
.list.sales-closed .cell .image .status.minus {
    background-color: #6daaf2;
}
.list.sales-closed .cell .image .status strong {
    font-family: "Futura Std Heavy";
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.list.sales-closed .cell .image .status.active {
    border: 0;
    background-color: #00b896;
    color: #fff;
}
.list.sales-closed .cell .detail {
    padding: 6px 0;
    line-height: 1.71;
}
.list.sales-closed .cell .detail .no {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    color: #222;
}
.list.sales-closed .cell .detail .name {
    height: 52px;
    line-height: 26px;
    font-family: "Futura Std Heavy";
    font-size: 14px;
    color: #222;
    margin: 0;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.list.sales-closed .cell .detail .option {
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    color: #999;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list.sales-closed .cell .detail .stock {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.34px;
    color: #999;
}
.list.sales-closed .cell .detail .stock strong {
    font-family: "Futura Std Heavy";
}
.list.sales-closed .cell .detail .profit span {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    border: solid 1px #e75149;
    background-color: #e75149;
    font-size: 12px;
    color: #ffffff;
    padding: 0 4px;
}
@media (max-width: 992px) {
    .list.sales-closed {
        padding: 12px 0 0 0;
    }
    .list.sales-closed .cell .image {
        height: 212px;
        line-height: 212px;
        margin-bottom: 9px;
        position: relative;
    }
    .list.sales-closed .cell .detail .no {
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        color: #222;
    }
    .list.sales-closed .cell .detail .name {
        height: 52px;
        line-height: 26px;
        font-size: 13px;
        /* letter-spacing: -0.05em; */
    }
    .list.sales-closed .cell .detail .option {
        font-size: 12px;
    }
    .list.sales-closed .cell .detail .stock {
        font-size: 15px;
    }
    .list.sales-closed .cell .detail .profit span {
        font-size: 11px;
    }
}
/* List : Sales Closed */

/* List : Sales Card */
.list.sales-card {
    list-style: none;
    padding: 0 0 0 0;
    transition: all ease 0.2s 0s;
    margin: 0;
}
.list.sales-card > div {
    padding: 0 5px;
}
.list.sales-card > div:nth-child(4n-3) {
    padding: 0 5px 0 0;
}
.list.sales-card > div:nth-child(4n) {
    padding: 0 0 0 5px;
}
.list.sales-card .cell {
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
.list.sales-card .cell:hover {
    box-shadow: 0 8px 14px 0 #d7dee5;
}

.list.sales-card .cell .image {
    height: 320px;
    line-height: 320px;
    margin-bottom: 9px;
    position: relative;
    overflow: hidden;
}
.list.sales-card .cell .image .status {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 12.5px;
    border: solid 1.2px #00b896;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.45px;
    text-align: center;
    color: #00b896;
    padding: 0 8px;
}
.list.sales-card .cell .image .status.active {
    border: 0;
    background-color: #00b896;
    color: #fff;
}
.list.sales-card .cell .detail {
    padding: 18px 20px;
    line-height: 1.71;
}
.list.sales-card .cell .detail .no {
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    color: #222;
}
.list.sales-card .cell .detail .name {
    margin: 0;
}
.list.sales-card .cell .detail .name strong {
    height: 48px;
    line-height: 24px;
    font-family: "Futura Std Heavy";
    font-size: 14px;
    color: #222;
    margin: 0;
    display: inline-block;
    width: calc(100% - 20px);
    overflow: hidden;
}
.list.sales-card .cell .detail .option {
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    color: #999;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list.sales-card .cell .detail .stock {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.34px;
    color: #222220;
    height: 30px;
    line-height: 30px;
}
.list.sales-card .cell .detail .stock strong {
    font-family: "Futura Std Heavy";
}
.list.sales-card .cell .detail .profit span {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    border: solid 1px #e75149;
    background-color: #e75149;
    font-size: 12px;
    color: #ffffff;
    padding: 0 4px;
}
.list.sales-card .nothing .cell {
    background-color: transparent;
    text-align: center;
    padding: 58px 0;
    box-shadow: none;
    color: #999;
}
.list.sales-card + .more .btn-light {
    height: 40px;
    line-height: 40px;
    border: solid 1px #cccccc;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #666666;
    padding: 0;
    border-radius: 0;
}
.list.sales-card + .more .btn-light:hover {
    background-color: #c3cbd6;
}
@media (max-width: 992px) {
    .list.sales-card {
        padding: 0 0 0 0;
    }
    .list.sales-card > div:nth-child(2n-1) {
        padding: 0 10px 0 0;
    }
    .list.sales-card > div:nth-child(2n) {
        padding: 0 0 0 10px;
    }
    .list.sales-card .cell {
        margin-bottom: 20px;
    }
    .list.sales-card .cell .image {
        height: 170px;
        line-height: 195px;
        margin-bottom: 9px;
        position: relative;
    }
    .list.sales-card .cell .detail .no {
        height: 24px;
        line-height: 26px;
        font-size: 12px;
        color: #222;
    }
    .list.sales-card .cell .detail .name {
        height: auto;
        line-height: 20px;
        font-size: 13px;
    }
    .list.sales-card .cell .detail .name .float-right {
        line-height: 20px;
    }
    .list.sales-card .cell .detail .option {
        font-size: 12px;
    }
    .list.sales-card .cell .detail .stock {
        font-size: 15px;
    }
    .list.sales-card .cell .detail .profit span {
        font-size: 11px;
    }
}
/* List : Sales Card */

/* Detail : Image Main */
.detail.image-main {
    margin: 0;
}
.detail.image-main .container .image {
    text-align: center;
    height: 460px;
    line-height: 460px;
    position: relative;
}
.detail.image-main .container .image img {
    max-width: 420px;
    max-height: 420px;
}
.detail.image-main .container .image .profit {
    position: absolute;
    top: 0;
    left: 0;
    width: 116px;
    height: 116px;
    background-color: #222222;
    color: #fff;
    padding-top: 32px;
    font-weight: normal;
    letter-spacing: -0.52px;
    text-align: center;
    z-index: 800;
}
.detail.image-main .container .image .profit strong {
    display: block;
    font-family: Futura Std Heavy;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.56px;
    text-align: center;
    color: #ffffff;
    height: 33px;
    line-height: 33px;
}
.detail.image-main .container .image .profit span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 27px;
    line-height: 27px;
}
@media (max-width: 992px) {
    .detail.image-main .container .image {
        height: 290px;
        line-height: 290px;
    }
    .detail.image-main .container .image img {
        max-width: 280px;
        max-height: 280px;
    }
    .detail.image-main .container .image .profit {
        top: auto;
        left: auto;
        right: 30px;
        bottom: -64px;
        width: 78px;
        height: 78px;
        padding-top: 23px;
    }
    .detail.image-main .container .image .profit strong {
        font-size: 22px;
        font-weight: 900;
        letter-spacing: 0.41px;
        height: 22px;
        line-height: 22px;
    }
    .detail.image-main .container .image .profit span {
        font-size: 10px;
        letter-spacing: -0.4px;
        color: #d1d1d1;
        height: 15px;
        line-height: 15px;
    }
}
/* Detail : Image Main */

/* Detail : Title */
.detail.title {
    margin-top: -30px;
}
.detail.title .left {
    width: 700px;
}
.detail.title > .container {
    position: relative;
}
.detail.title .left .name {
    font-family: "Futura Std Heavy";
    font-size: 44px;
    font-weight: 900;
    line-height: 1.23;
    color: #222222;
    margin: 0 0 25px 0;
}
.detail.title .left .option {
    font-size: 14px;
    color: #817b7b;
    margin: -15px 0 20px 0;
}
.detail.title .left .option > a {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 110px);
}
.detail.title .left .option .arrow {
    display: inline-block;
    height: 10px;
    margin-left: 10px;
    vertical-align: top;
    position: relative;
    top: 6px;
}
.detail.title .left .option .float-right a {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.79;
    color: #5c5c5c;
    text-decoration: underline;
    cursor: pointer;
}
.detail.title .left .going {
    display: none;
    float: right;
    line-height: 1;
    padding: 12px 0 0 0;
    width: 58px;
    height: 58px;
    background-color: #222222;
    margin-top: 16px;
}
.detail.title .left .going h6 {
    margin: 0;
    text-align: center;
}
.detail.title .left .going h6 strong {
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
    font-family: "Futura Std Heavy";
    display: block;
}
.detail.title .left .going h6 span {
    font-size: 10px;
    color: #999999;
}
/* .detail.title .left .going p {
    margin: 0;
    font-size: 13px;
    color: #222222;
    text-align: right;
    height: 26px;
    line-height: 26px;
} */
.detail.title .left .image {
    display: none;
}
.detail.title .left .image img {
    height: 80px;
    line-height: 80px;
}
.detail.title .left .progress {
    display: none;
    height: 5px;
    background-color: transparent;
    border-radius: 0;
}
.detail.title .left .progress-bar {
    height: 5px;
    background-color: #000;
}

.sticky .detail.title {
    /* background-color: #fcedca; */
}
.sticky .detail.title .left .image {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
}
.sticky .detail.title .left .plate {
    display: inline-block;
    vertical-align: top;
    width: 480px;
}
.sticky .detail.title .left .name {
    display: block;
    font-size: 14px;
    font-weight: 900;
    padding: 22px 0 7px 0;
    margin: 0;
}
.sticky .detail.title .left .option {
    font-size: 14px;
    color: #222222;
    margin: 0;
}
.sticky .detail.title .left .going {
    display: block;
}
.sticky .detail.title .left .progress {
    display: block;
}
.sticky .detail.title .left .option .float-right {
    display: none;
}

.detail.dist {
    width: 315px;
    position: absolute;
    top: 470px;
    left: calc(50% + 220px);
    z-index: 900;
}
.detail.dist .top {
    height: 36px;
    line-height: 36px;
    margin: 0 0 8px 0;
}
.detail.dist .top strong {
    font-size: 22px;
    font-weight: bold;
    color: #272727;
    display: none;
}
.detail.dist .top .float-right .btn {
    height: 36px;
    line-height: 36px;
    border-radius: 3px;
    border: solid 1px #999999;
    padding: 0 12px;
    font-size: 14px;
    color: #222222;
    background-color: transparent;
}
.detail.dist .top .float-right .btn img {
    margin-right: 6px;
    height: 16px;
}
.detail.dist .inner {
    background-color: #222526;
    color: #fff;
    padding: 18px 23px;
}
.detail.dist .inner .remain {
    letter-spacing: -0.35px;
    color: #dddddd;
    font-size: 14px;
    height: 21px;
    line-height: 21px;
}
.detail.dist .inner .remain .float-right {
    color: #777777;
}
.detail.dist .inner .limit {
    font-size: 11px;
    line-height: 1.8;
    letter-spacing: -0.25px;
    color: #ff8b7d;
}
.detail.dist .inner .limit .float-right {
    color: #999;
}
.detail.dist .inner .inputs {
    margin: 15px 0 29px 0;
    padding: 0 20px;
    height: 34px;
    line-height: 34px;
}
.detail.dist .inner .inputs span {
    position: relative;
    width: 21px;
    height: 21px;
    display: inline-block;
    cursor: pointer;
}
.detail.dist .inner .inputs strong {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: inline-block;
    margin-left: 4px;
}
.detail.dist .inner .inputs .minus {
    background-image: url(../img/floating_icon_-_off.svg);
    margin: 0 40px 0 0;
}
.detail.dist .inner .inputs .minus:hover {
    background-image: url(../img/floating_icon_-_on.svg);
}
.detail.dist .inner .inputs .plus {
    background-image: url(../img/floating_icon_+_off.svg);
    margin: 0 0 0 40px;
}
.detail.dist .inner .inputs .plus:hover {
    background-image: url(../img/floating_icon_+_on.svg);
}
.detail.dist .inner .inputs input {
    background-color: transparent;
    border: 0;
    color: #fff;
    text-align: right;
    width: 60px;
    padding: 0;
    font-size: 30px;
    font-weight: 500;
}
.detail.dist .inner .calc {
    border-radius: 0;
    margin: 0 0 10px 0;
}
.detail.dist .inner .calc .btn {
    background-color: transparent;
    color: #ddd;
    border-radius: 0;
    border: solid 1px #3f4041;
    font-size: 13px;
    padding: 0;
    height: 30px;
    line-height: 30px;
}
.detail.dist .inner .calc .btn:hover {
    background-color: #fff;
    color: #000;
}
.detail.dist .inner .total {
    font-size: 11px;
    line-height: 1.64;
    letter-spacing: -0.28px;
    color: #999999;
    height: 26px;
    line-height: 26px;
    padding: 0 0 9px 0;
}
.detail.dist .inner .total .float-right {
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    color: #ffffff;
}
.detail.dist .inner .total .float-right strong {
    font-weight: normal;
}
.detail.dist .inner .single .status {
    display: inline-block;
    height: 26px;
    line-height: 25px;
    border-radius: 13px;
    border: solid 1.2px #00b896;
    background-color: #00b896;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.45px;
    color: #ffffff;
    padding: 0 12px;
    box-sizing: border-box;
}
.detail.dist .inner .single .status.wait {
    background-color: transparent;
    color: #00b896;
}
.detail.dist .inner .single .float-right a {
    display: inline-block;
    text-decoration: underline;
    color: #ffffff;
    cursor: pointer;
}
.detail.dist > .btn-group .btn {
    min-width: 50%;
    border: 0;
    border-radius: 0;
}
.detail.dist > .btn-group .btn.btn-light {
    height: 54px;
    background-color: #7ddec5;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: #000000;
}
.detail.dist > .btn-group .btn:disabled {
    opacity: 1;
    background-color: #dadfe5;
}
.detail.dist > .btn-group .btn.btn-info {
    background-color: #222526;
}

.detail.dist-sticky {
    position: fixed;
    top: 100px;
    z-index: 999;
}

.detail.dist .close-line {
    text-align: right;
    margin: 0 0 11px 0;
}
.detail.dist .close-line img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
@media (max-width: 992px) {
    .detail.title {
        margin-top: -22px;
    }
    .detail.title > .container {
        position: relative;
    }
    .detail.title .left {
        width: calc(100% - 90px);
        padding: 0 30px;
    }
    .detail.title .left .name {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.19;
        color: #222222;
        /* letter-spacing: -0.05em; */
    }
    .detail.title .left .option > a {
        position: relative;
        display: inline-block;
        text-decoration: underline;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(100% - 20px);
    }
    .detail.title .left .option .float-right {
        display: none;
    }
    .detail.dist {
        width: 100%;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
        padding: 30px;
    }
    .detail.dist .top {
        display: none;
    }
    .sticky .detail.title .left {
        width: 100%;
        padding: 0;
    }
    .sticky .detail.title .left .plate {
        width: 170px;
    }
    .sticky .detail.title .left .plate .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .sticky .detail.title .left .plate .option {
        font-size: 12px;
    }
    .sticky .detail.title .left .image {
        margin-left: 30px;
    }
    .sticky .detail.title .left .going {
        margin-right: 30px;
        margin-top: 10px;
    }
    .sticky .detail.title .left .going p {
        display: none;
    }
    .sticky .detail.title .left .going h6 {
    }
    .sticky .detail.title .left .going h6 strong {
    }
    .detail.dist .inner .inputs {
        margin: 6px 0 9px 0;
        padding: 0 20px;
        height: 34px;
        line-height: 34px;
    }
}
/* Detail : Title */

/* Detail : Info */
.detail.info .inner {
    width: 700px;
}
.detail.info .inner .headline {
    font-size: 22px;
    font-weight: bold;
    color: #222222;
    margin: 60px 0 15px 0;
}
.detail.info .inner .price {
    color: #222;
}
.detail.info .inner .price p {
    margin: 0 0 12px 0;
}
.detail.info .inner .price h4 {
    margin: 0 0 28px 0;
    font-size: 30px;
    font-weight: 700;
}
.detail.info .inner .per {
    margin: 0 0 22px 0;
}
.detail.info .inner .per .progress {
    height: 5px;
    border-radius: 0;
}
.detail.info .inner .per .progress-bar {
    background: #222;
}
.detail.info .inner .per .sub .left h5 {
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}
.detail.info .inner .per .sub .right {
    text-align: right;
}
.detail.info .inner .per .sub .right h5 {
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}
.detail.info .inner .per .sub .right p {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    margin: 0;
    position: relative;
    top: -10px;
}
.detail.info .inner .per .step {
    height: 70px;
    background-color: #f2f2f2;
    padding-top: 12px;
    margin: 11px 0 30px 0;
}
.detail.info .inner .per .step > div {
    padding: 0 40px;
    position: relative;
}
.detail.info .inner .per .step > div:after {
    content: "";
    border-right: solid 1px #dddddd;
    position: absolute;
    top: 12.5%;
    right: 0;
    height: 50%;
}
.detail.info .inner .per .step > div:last-child:after {
    height: 0;
}
.detail.info .inner .per .step > div span {
    font-size: 12px;
    color: #aaa;
}
.detail.info .inner .per .step > div.active span {
    color: #5c5c5c;
}
.detail.info .inner .per .step > div .right {
    margin-top: 10px;
}
.detail.info .inner .per .step > div .right a {
    height: 34px;
    font-family: "Futura Std Heavy";
    font-size: 24px;
    font-weight: 900;
    line-height: 34px;
    text-align: right;
    color: #aaaaaa;
    position: absolute;
    right: 40px;
    top: 10px;
    cursor: pointer;
}
.detail.info .inner .per .step > div.active .right a {
    color: #222526;
    border-bottom: 1px solid #222526;
}
.detail.info .inner .ratio {
    height: 70px;
    line-height: 70px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 11px;
    letter-spacing: -0.44px;
    color: #222526;
    cursor: pointer;
    margin: 0 0 72px 0;
}
.detail.info .inner .ratio.plus {
    background-color: #ff8b7d;
    color: #fff;
    cursor: auto;
}
.detail.info .inner .ratio.plus:hover {
    background-color: #f67869;
}
.detail.info .inner .ratio.minus {
    background-color: #6daaf2;
    color: #fff;
    cursor: auto;
}
.detail.info .inner .ratio.minus:hover {
    background-color: #5999e3;
}
.detail.info .inner .ratio.zero {
    background-color: #a8a8a8;
    color: #fff;
    cursor: auto;
}
.detail.info .inner .ratio.zero:hover {
    background-color: #858585;
}
.detail.info .inner .ratio.plus {
    background-color: #ff8b7d;
    color: #fff;
}
.detail.info .inner .ratio.plus:hover {
    background-color: #f67869;
}
.detail.info .inner .ratio:hover {
    background-color: #e8e8e8;
}
.detail.info .inner .ratio strong {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.34px;
    font-family: "Futura Std Heavy";
    margin-left: 10px;
}
.detail.info .inner .ratio .next {
    float: right;
    height: 70px;
    line-height: 70px;
    margin-right: 32px;
}
.detail.info .inner .ratio .next img {
    height: 14px;
}
.detail.info .inner .quote > p {
    height: 32px;
    line-height: 32px;
    margin: 0 0 12px 0;
}
.detail.info .inner .quote .chart {
    height: 210px;
    margin: 0 0 21px 0;
}
.detail.info .inner .history {
    margin: 0 0 50px 0;
}
.detail.info .inner .history .sort {
    margin: 0 0 10px 0;
}
.detail.info .inner .history .sort .dropdown {
    display: inline-block;
}
.detail.info .inner .history .sort .dropdown .btn {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    font-size: 12px;
    color: #777777;
    padding-left: 0;
}
.detail.info .inner .history .sort .dropdown .dropdown-menu {
    padding: 0;
    border-radius: 0;
    width: 260px;
    box-shadow: 0 8px 14px 0 #d7dee5;
}
.detail.info .inner .history .sort .dropdown .dropdown-item {
    padding: 0 30px;
    height: 56px;
    line-height: 56px;
    border-bottom: solid 1px #c9cfd5;
    border-radius: 0;
    font-size: 12px;
    color: #999999;
    text-align: center;
}
.detail.info .inner .history .sort .dropdown .dropdown-item:active {
    background-color: #eee;
}
.detail.info .inner .history .sort .dropdown .dropdown-item.title {
    text-align: left;
    background-color: #f6f9fc;
    font-size: 15px;
    font-weight: 500;
    color: #222526;
}
.detail.info .inner .history .sort .dropdown .dropdown-item span:nth-child(1) {
    float: left;
}
.detail.info .inner .history .sort .dropdown .dropdown-item span:last-child {
    float: right;
}
.detail.info .inner .history .sort .dropdown .dropdown-item strong {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}
.detail.info .inner .history .list-group {
    border: 0;
    border-radius: 0;
    border-top: solid 2px #222526;
}
.detail.info .inner .history .list-group .list-group-item {
    border: 0;
    border-bottom: solid 1px #eeeeee;
    padding: 27px 21px;
    border-radius: 0;
}
.detail.info .inner .history .list-group .list-group-item.none {
    padding: 100px 21px;
    text-align: center;
}
.detail.info .inner .history .list-group .list-group-item .d-flex p {
    font-size: 12px;
    letter-spacing: -0.48px;
    color: #222526;
}
.detail.info .inner .history .list-group .list-group-item .d-flex small {
    font-size: 11px;
    color: #aaaaaa;
}
.detail.info .inner .history .list-group .list-group-item > h5 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.64px;
    color: #222526;
    padding: 10px 0 6px 0;
}
.detail.info .inner .history .list-group .list-group-item > p {
    font-size: 12px;
    line-height: 1.5;
    color: #999999;
    white-space: pre-wrap;
}
.detail.info .inner .history .list-group .list-group-item:last-child {
    border: 0;
    border-bottom: 0;
}
.detail.info .inner .history .btn-block {
    height: 40px;
    line-height: 40px;
    border: solid 1px #cccccc;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-align: center;
    color: #666666;
    box-shadow: none;
}
.detail.info .inner .history .btn-block:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.detail.info .inner .global {
    border: solid 1px #dddddd;
    margin: 0 0 61px 0;
}
.detail.info .inner .global > div {
    padding: 45px 34px;
    position: relative;
}
.detail.info .inner .global > div h5 {
    font-size: 14px;
    color: #272727;
    height: 20px;
    line-height: 20px;
    margin: 0 0 14px 0;
}
.detail.info .inner .global > div h5 img {
    height: 20px;
    margin: 0 9px 0 0;
}
.detail.info .inner .global > div h3 {
    font-size: 24px;
    font-weight: 500;
    color: #272727;
    height: 33px;
    line-height: 33px;
    margin: 0 0 0 0;
}
.detail.info .inner .global > div p {
    font-size: 11px;
    color: #999999;
    height: 21px;
    line-height: 21px;
    margin: 0 0 0 0;
}
.detail.info .inner .global > div:after {
    content: "";
    border-right: solid 1px #dddddd;
    position: absolute;
    top: 45px;
    right: 0;
    height: 90px;
}
.detail.info .inner .global > div:last-child:after {
    height: 0;
    width: 0;
}
.detail.info .inner .description {
    font-size: 14px;
    line-height: 1.5;
    color: #272727;
    margin: 15px 0 52px 0;
    white-space: pre-wrap;
}
.detail.info .inner .slide {
    font-size: 14px;
    line-height: 1.5;
    color: #272727;
    margin: 15px 0 52px 0;
    position: relative;
}
.detail.info .inner .slide .swiper-wrapper .swiper-slide img {
    width: 220px;
    height: 220px;
    max-width: 100%;
    max-height: 100%;
}
.detail.info .inner .slide .prev {
    position: absolute;
    top: calc(50% - 15px);
    left: -25px;
    z-index: 300;
    cursor: pointer;
}
.detail.info .inner .slide .prev img {
    width: 14px;
}
.detail.info .inner .slide .next {
    position: absolute;
    top: calc(50% - 15px);
    right: -25px;
    z-index: 300;
    cursor: pointer;
}
.detail.info .inner .slide .next img {
    width: 14px;
}
.detail.info .inner .slide .swiper-button-disabled {
    opacity: 0.5;
}

.detail.info .information {
    background-color: #323438;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #85878c;
    padding: 80px 0;
}
.detail.info .information h3 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #85878c;
    margin: 0 0 20px 0;
}
.detail.info .information ol {
    padding: 0 0 0 18px;
    margin: 0 0 50px 0;
}
.detail.info .information ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}
.detail.info .information ul li {
    display: inline-block;
    padding: 0 33px;
    width: 50%;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #85878c;
    vertical-align: top;
    position: relative;
}
.detail.info .information ul li:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    border-right: solid 1px #4e5054;
}
.detail.info .information ul li img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
}
.detail.info .information ul li p {
    display: inline-block;
    width: calc(100% - 80px);
    vertical-align: middle;
    margin: 0;
}
@media (max-width: 992px) {
    .detail.info .information {
        padding: 44px 30px 100px 30px;
        font-size: 13px;
    }
    .detail.info .information h3 {
        font-size: 22px;
    }
    .detail.info .information ol {
        padding: 0 0 0 18px;
        margin: 0 0 50px 0;
    }
    .detail.info .information ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0;
    }
    .detail.info .information ul li {
        display: inline-block;
        padding: 0;
        width: 100%;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        letter-spacing: normal;
        color: #85878c;
        vertical-align: top;
        position: relative;
        margin: 0 0 20px 0;
    }
    .detail.info .information ul li:first-child:after {
        display: none;
    }
    .detail.info .information ul li img {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: middle;
    }
    .detail.info .information ul li p {
        display: inline-block;
        width: calc(100% - 60px);
        vertical-align: middle;
        margin: 0;
    }
}
@media (max-width: 992px) {
    .detail.info .inner {
        width: 100%;
        padding: 0 30px 100px 30px;
    }
    .detail.info .inner .headline {
        font-size: 18px;
    }
    .detail.info .inner .price p {
        margin: 0 0 2px 0;
    }
    .detail.info .inner .price h4 {
        margin: 0 0 17px 0;
        font-size: 22px;
    }
    .detail.info .inner .global > div:after {
        content: "";
        border-bottom: solid 1px #dddddd;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        width: calc(100% - 52px);
        height: 0;
    }
    .detail.info .inner .per .sub .right h5 {
        font-size: 14px;
    }
    .detail.info .inner .per .sub .right p {
        font-size: 10px;
    }
    .detail.info .inner .per .step {
        height: 90px;
    }
    .detail.info .inner .per .step > div {
        padding: 0 17.5px;
    }
    .detail.info .inner .per .step > div .right a {
        top: 30px;
        right: 17.5px;
    }
    .detail.info .inner .quote > p {
        height: auto;
        line-height: 1.63;
    }
    .detail.info .inner .quote > p strong {
        display: block;
        font-size: 16px;
    }
    .detail.info .inner .global > div {
        padding: 18px 26px 26px 26px;
        position: relative;
    }
    .detail.info .inner .global .right {
        position: absolute;
        top: 18px;
        right: 26px;
        text-align: right;
    }
    .detail.info .inner .global .right h3 {
        height: auto;
        line-height: 1;
        margin: 0 0 5px 0;
        font-size: 18px;
        font-weight: 500;
        color: #272727;
    }
    .detail.info .inner .slide {
        margin-right: -28px;
    }
    .detail.info .inner .slide .prev {
        display: none;
    }
    .detail.info .inner .slide .next {
        display: none;
    }
    .detail.info .inner .slide .swiper-wrapper .swiper-slide img {
        width: 150px;
        height: 150px;
        max-width: 100%;
        max-height: 100%;
    }
}
/* Detail : Info */

/* Exit List */
section.exit {
    padding: 46px 0 141px 0;
}
section.exit .container {
    padding-right: 0;
    padding-left: 0;
}
section.exit .copyright h2 {
    height: 65px;
    line-height: 65px;
    font-size: 44px;
    font-weight: 500;
    color: #222222;
    text-align: center;
    margin: 0 0 49px 0;
}
section.exit .info {
    height: 120px;
    line-height: 120px;
    padding: 0 30px;
    background-color: #ddf1f7;
    margin: 0 0 19px 0;
}
section.exit .info .image {
    display: inline-block;
    vertical-align: top;
}
section.exit .info .image img {
    height: 120px;
}
section.exit .info .text {
    width: calc(100% - 400px);
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    font-size: 12px;
    color: #222526;
    padding: 26px 0 0 20px;
}
section.exit .info .text h5 {
    font-family: "Futura Std Heavy";
    font-size: 16px;
    font-weight: 900;
    color: #222222;
    margin: 0 0 9px 0;
}
section.exit .info .text p {
    margin: 0 0 9px 0;
    font-size: 12px;
    color: #222222;
}
section.exit .info .float-right .status {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.45px;
    text-align: center;
    color: #ffffff;
    border-radius: 12.5px;
    background-color: #00b896;
    padding: 0 8px;
}
section.exit .info .float-right strong {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #000000;
    margin: 0 20px;
}
section.exit .info .float-right strong span {
    font-family: "Futura Std Heavy";
}
section.exit .info .float-right img {
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/* section.exit .list-group .list-group-item {
    padding: 0;
    border: 0;
    border-bottom: 8px solid #f6f9fc;
}
section.exit .list-group .list-group-item .d-flex .per {
    width: 33.3%;
    height: 153px;
    line-height: 153px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #e75149;
}
section.exit .list-group .list-group-item .d-flex .minus {
    color: #00b896;
}
section.exit .list-group .list-group-item .d-flex .per span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
}
section.exit .list-group .list-group-item .d-flex .per strong {
    display: inline-block;
    vertical-align: middle;
    font-family: "Futura Std Heavy";
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
section.exit .list-group .list-group-item .d-flex .list {
    width: 33.3%;
    position: relative;
    padding: 0;
}
section.exit .list-group .list-group-item .d-flex .list ul {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 0 59px;
    margin-top: 33px;
    border-right: solid 1px #dddddd;
}
section.exit .list-group .list-group-item .d-flex > div:last-child ul {
    border-right: 0;
}
section.exit .list-group .list-group-item .d-flex .list ul li {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.86;
    letter-spacing: normal;
    color: #272727;
}
section.exit .list-group .list-group-item .d-flex .list ul li strong {
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #272727;
    width: 88px;
    display: inline-block;
} */
@media (max-width: 992px) {
    section.exit .copyright {
        display: none;
    }
    section.exit {
        padding-top: 0;
        padding-bottom: 0;
    }
    section.exit .info {
        margin-bottom: 0;
    }
    section.exit .info .text {
        width: calc(100% - 140px);
        padding-top: 34px;
    }
    section.exit .info .text .name,
    section.exit .info .text .option {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    section.exit .list-group {
        border-top: 8px solid #f6f9fc;
    }
    section.exit .list-group .list-group-item .d-flex {
        display: block !important;
        font-size: 0;
    }
    section.exit .list-group .list-group-item .d-flex .per {
        width: 100%;
        text-align: left;
        padding: 33px 29px;
        height: auto;
        line-height: 1;
        font-size: 18px;
    }
    section.exit .list-group .list-group-item .d-flex .per strong {
        font-size: 18px;
    }
    section.exit .list-group .list-group-item .d-flex .list {
        display: inline-block;
        width: 50%;
    }
    section.exit .list-group .list-group-item .d-flex .list ul {
        border: 0;
        padding: 0 0 20px 29px;
        margin: 0;
    }
    section.exit .list-group .list-group-item .d-flex .list ul li strong {
        width: 74px;
    }
    section.exit .list-group .list-group-item .d-flex .minus {
        color: #4a90e2;
    }
}
/* Exit List */

/* Exit History */

section.exit .info-report {
}
section.exit .info-report .inner {
    height: 120px;
    background-color: #d6eef5;
    padding: 0 20px;
    margin: 0 0 52px 0;
}
section.exit .info-report .image {
    width: 120px;
    height: 120px;
}
section.exit .info-report .image img {
    width: 120px;
    height: 120px;
}
section.exit .info-report .text {
    padding: 26px 0 0 20px;
}
section.exit .info-report .text .name {
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #222222;
}
section.exit .info-report .text .name strong {
    font-family: "Futura Std Heavy";
}
section.exit .info-report .text .name a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #5c5c5c;
    text-decoration: underline;
    margin-left: 20px;
    cursor: pointer;
}
section.exit .info-report .text .option {
    /* font-size: 12px; */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5c5c5c;
}
section.exit .info-report .text .option a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
}
section.exit .info-report .text .no {
    font-size: 12px;
    color: #222526;
    margin: 0;
}
section.exit .info-report .list {
    height: 120px;
    line-height: 120px;
    width: 400px;
    text-align: right;
}
section.exit .info-report .list ul {
    display: inline-block;
    padding: 25px 0 0 0;
    list-style: none;
    border-top: solid 1px #dddddd;
    text-align: left;
}
section.exit .info-report .list ul li {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #777777;
}
section.exit .info-report .list ul li a {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}
section.exit .info-report .list ul li strong {
    display: inline-block;
    width: 63px;
    font-size: 12px;
    font-weight: bold;
    color: #777777;
}
section.exit .info-report .arrow {
    width: 60px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    cursor: pointer;
}
section.exit .info-report .arrow img {
    height: 10px;
}
section.exit .headline {
    height: 33px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 33px;
    letter-spacing: normal;
    color: #222222;
    margin: 0 0 23px 0;
}
section.exit .headline .float-right a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #5c5c5c;
    text-decoration: underline;
}
section.exit .headline small {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #999999;
}
section.exit .result {
    margin: 0 0 53px 0;
}
section.exit .result + .container {
    margin-left: 0;
    margin-right: 0;
}
section.exit .result .row > div {
    padding: 0 4px;
}
section.exit .result .row > div:nth-child(3n-2) {
    padding-left: 15px;
}
section.exit .result .row > div:nth-child(3n) {
    padding-right: 15px;
}
section.exit .result .cell {
    height: 96px;
    border-radius: 1px;
    background-color: #f6f9fc;
    padding: 16px 0 0 40px;
}
section.exit .result .cell p {
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    color: #222526;
    margin: 0;
}
section.exit .result .cell h4 {
    font-size: 20px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #222222;
}
section.exit .result .cell h4 strong {
    font-family: "Futura Std Heavy";
}
section.exit .result .cell h4 strong.plus {
    color: #e75149;
}
section.exit .result .cell .image {
    height: 96px;
    line-height: 96px;
    position: absolute;
    top: 0;
    right: 68px;
}
section.exit .result .cell .image img {
    height: 39px;
}
@media (max-width: 992px) {
    section.exit .info-report {
        padding: 0 30px;
    }
    section.exit .result {
        padding: 0 30px;
    }
    section.exit .result .cell {
        margin-bottom: 1px;
    }
    .exit.report {
        padding-top: 34px;
        border-top: 10px solid #f6f9fc;
    }
    section.exit .info-report .list {
        display: none;
    }
    section.exit .info-report .arrow {
        display: none;
    }
    section.exit .info-report .text {
        width: 200px;
    }
    section.exit .info-report .text .no {
        font-size: 12px;
    }
    section.exit .info-report .text .name {
        font-size: 14px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #222222;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    section.exit .info-report .text .option {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    section.exit .info-report .text {
        padding: 20px 0 0 20px;
    }
    section.exit .result .row > div {
        padding: 0 15px;
    }
}

section.exit .history {
    margin: 0 0 50px 0;
}
section.exit .history .sort {
    margin: 0 0 10px 0;
}
section.exit .history .list-group {
    border: 0;
    border-radius: 0;
    border-top: solid 2px #222526;
}
section.exit .history .list-group .list-group-item {
    border: 0;
    border-bottom: solid 1px #eeeeee;
    padding: 27px 21px;
    border-radius: 0;
}
section.exit .history .list-group .list-group-item .d-flex p {
    font-size: 12px;
    letter-spacing: -0.48px;
    color: #222526;
}
section.exit .history .list-group .list-group-item .d-flex small {
    font-size: 11px;
    color: #aaaaaa;
}
section.exit .history .list-group .list-group-item > h5 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.64px;
    color: #222526;
    padding: 10px 0 6px 0;
}
section.exit .history .list-group .list-group-item > p {
    font-size: 12px;
    line-height: 1.5;
    color: #999999;
    white-space: pre-wrap;
}
section.exit .history .list-group .list-group-item:last-child {
    border: 0;
    border-bottom: 0;
}
section.exit .history .btn-block {
    height: 40px;
    line-height: 40px;
    border: solid 1px #cccccc;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.4px;
    text-align: center;
    color: #666666;
    box-shadow: none;
}
section.exit .history .btn-block:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
section.exit .recipe {
    padding-bottom: 63px;
}
section.exit .recipe .inner {
    box-shadow: 0 8px 14px 0 #d7dee5;
    border: solid 1px #c9cfd5;
    background-color: #ffffff;
    padding: 31px;
}
section.exit .recipe .inner ul {
    list-style: none;
    padding: 0 0 30px 0;
    line-height: 2.29;
    border-bottom: 1px solid #222;
}
section.exit .recipe .inner ul li strong {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #222526;
}
section.exit .recipe .inner ul li .float-right {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: right;
    color: #222526;
}
section.exit .recipe .inner ul li .float-right.disabled {
    color: #17a58b;
}
section.exit .recipe .inner h5 {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -0.35px;
    color: #222526;
    height: 26px;
    line-height: 26px;
}
section.exit .recipe .inner h5 .float-right {
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    height: 26px;
    line-height: 26px;
}
section.exit .recipe .inner p {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #999999;
}
section.exit .tabs {
    padding: 0;
    margin: 0 0 32px 0;
    border-bottom: 8px solid #f6f9fc;
}
section.exit .tabs .nav {
    border: 0;
}
section.exit .tabs .nav .nav-item {
    border: 0;
}
section.exit .tabs .nav .nav-item .nav-link {
    border: 0;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    height: 54px;
    line-height: 54px;
    padding: 0;
}
section.exit .tabs .nav .nav-item .nav-link.active {
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #222222;
    border-bottom: 2px solid #000;
}
@media (max-width: 992px) {
    section.exit .history {
        margin: 0 30px 50px 30px;
    }
    section.exit .recipe {
        margin: 0 30px;
    }
}
/* Exit History */

.sali-list-description {
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin: 30px 0 0 0;
}
.sali-list-description strong {
    margin: 0 0 0 30px;
}
@media (max-width: 992px) {
    .sali-list-description {
        font-size: 14px;
        margin: 30px 0 0 0;
        text-align: center;
    }
    .sali-list-description strong {
        margin: 0 0 0 0;
    }
}
