/* Title : main copyright */
.title.main-copyright {
	font-size: 56px;
	font-weight: bold;
	line-height: 1.29;
	color: #000000;
	position: absolute;
	top: 150px;
	left: 0;
	z-index: 600;
}
.title.main-copyright strong {
	font-family: "Futura Std Heavy";
}
@media (max-width: 992px) {
	.title.main-copyright {
		color: #000000;
		position: relative;
		top: 0;
		left: 0;
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.21;
		letter-spacing: -0.47px;
		color: #000000;
		padding: 30px 30px 20px 30px;
	}
	.title.main-copyright strong {
		font-family: "Futura Std Heavy";
	}
}
/* Title : main copyright */

/* Banner : Main */
.banner.main {
	background-image: linear-gradient(to right, #ff4c62, #ffbb68);
	color: #fff;
	box-shadow: 0 6px 16px 0 rgba(242, 143, 111, 0.49);
}
.banner.main .container {
	height: 70px;
	line-height: 70px;
}
.banner.main .container .icon {
	height: 70px;
	display: inline-block;
	margin: 0 17px 0 0;
}
.banner.main .container .icon img {
	height: 30px;
}
.banner.main .container h5 {
	height: 70px;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}
.banner.main .container h5 strong {
	font-weight: 500;
}
.banner.main .container .closed {
	height: 70px;
	line-height: 70px;
	float: right;
	cursor: pointer;
}
.banner.main .container .closed img {
	height: 15px;
}
@media (max-width: 992px) {
	.banner.main {
		margin: 0 13px 0 13px;
		padding: 24px 31px;
		height: 110px;
		position: relative;
	}
	.banner.main .container .icon {
		position: absolute;
		right: 33px;
		top: 0;
		height: 110px;
		line-height: 110px;
		margin: 0;
	}
	.banner.main .container .icon img {
		height: 46px;
	}
	.banner.main .container h5 {
		width: 180px;
		font-size: 12px;
	}
	.banner.main .container h5 strong {
		font-size: 16px;
		display: block;
		height: 23px;
		line-height: 23px;
		font-weight: bold;
	}
	.banner.main .container h5 span {
		display: block;
		height: 18.5px;
		line-height: 18.5px;
		font-weight: normal;
	}
	.banner.main .container .closed {
		height: 10px;
		line-height: 10px;
		float: auto;
		position: absolute;
		right: 12px;
		top: 12px;
	}
	.banner.main .container .closed img {
		height: 10px;
	}
}
/* Banner : Main */

/* Form : Checkbox */
.form-check.checkbox {
	padding-left: 25px;
	position: relative;
	cursor: pointer;
}
.form-check.checkbox label {
	cursor: pointer;
}
.form-check.checkbox .form-check-input {
	display: none;
}
.form-check.checkbox .form-check-label > span {
	width: 16px;
	height: 16px;
	position: absolute;
	background-image: url(../img/payment_checkbox_off.svg);
	top: 1.5px;
	left: 0;
}
.form-check.checkbox .form-check-input:checked + .form-check-label > span {
	background-image: url(../img/payment_checkbox_on.svg);
}
.form-check.checkbox .form-check-label.single {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	margin-left: -25px;
	margin-right: 6px;
}
/* Form : Checkbox */

/* Modal : Agree */
.modal.agree .modal-dialog {
	width: 540px;
	max-width: 95%;
	margin: 50px auto;
}
.modal.agree .modal-header {
	padding: 20px 0 10px 0;
	margin: 0 28px;
}
.modal.agree .modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	color: #222526;
}
.modal.agree .modal-content {
	border-radius: 0;
	border: 0;
}
.modal.agree .modal-body {
	padding: 0;
	margin: 0;
}
.modal.agree .modal-body .scroll {
	/* height: 400px;
    overflow-y: auto; */
	padding: 30px 28px;
}
.modal.agree .modal-body .scroll h5 {
	height: 36px;
	font-size: 15px;
	font-weight: bold;
	line-height: 36px;
	color: #00b896;
}
.modal.agree .modal-body .scroll p {
	font-size: 13px;
	line-height: 1.62;
	color: #000000;
}
.modal.agree .modal-body .scroll ul {
	font-size: 13px;
	line-height: 1.62;
	color: #000000;
}
.modal.agree .modal-footer {
	margin: 0 28px;
	padding: 23px 0;
	justify-content: left;
}
.modal.agree .modal-content > button {
	height: 54px;
	line-height: 54px;
	background-color: #6cd3b8;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.4px;
	color: #000000;
	border: 0;
	border-radius: 0;
}
.modal.agree .modal-content > button:disabled {
	background-color: #7ddec5;
	opacity: 1;
}
/* Modal : Agree */

/* Modal : Info */
.modal.info .modal-dialog {
	width: 335px;
	max-width: 95%;
	margin: 50px auto;
}
.modal.info .modal-header {
	padding: 20px 28px 23px 28px;
	border: 0;
	border-bottom: 10px solid #f6f9fc;
	margin: 0 1px 0 0;
}
.modal.info .modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	color: #222526;
}
.modal.info .modal-content {
	border-radius: 0;
	border: 0;
}
.modal.info .modal-body {
	padding: 24px 39px;
	margin: 0;
}
.modal.info .modal-body ul {
	padding: 0;
	list-style: none;
	line-height: 2;
}
.modal.info .modal-body ul li {
	font-size: 14px;
	color: #5c5c5c;
}
.modal.info .modal-body ul li strong {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -0.45px;
	color: #444444;
	display: inline-block;
	width: 85px;
}
.modal.info .modal-footer {
	margin: 0 28px;
	padding: 23px 0;
	justify-content: left;
}
.modal.info .modal-content > button {
	height: 54px;
	line-height: 54px;
	background-color: #dde2e5;
	padding: 0;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.4px;
	color: #000000;
}
/* Modal : Info */

/* Modal : Option */
.modal.option .modal-dialog {
	width: 335px;
	max-width: 95%;
	margin: 50px auto;
}
.modal.option .modal-header {
	padding: 20px 0 10px 0;
	margin: 0 30px;
	border: 0;
}
.modal.option .modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	color: #222526;
}
.modal.option .modal-content {
	border-radius: 0;
	border: 0;
}
.modal.option .modal-body {
	padding: 0;
	margin: 0 30px;
}
.modal.option .modal-body .nav {
	margin: 10px 0 26px 0;
}
.modal.option .modal-body .nav .nav-item .nav-link {
	height: 28px;
	line-height: 28px;
	border-radius: 20px;
	border: solid 1.2px #dddddd;
	padding: 0 8px;
	font-size: 12px;
	font-weight: 500;
	color: #999999;
	margin-right: 8px;
}
.modal.option .modal-body .nav .nav-item:last-child .nav-link {
	margin-right: 0;
}
.modal.option .modal-body .nav .nav-item .nav-link.active {
	color: #fff;
	background-color: #444444;
	border: 0;
}
.modal.option .modal-body .table thead tr th {
	font-size: 11.5px;
	font-weight: normal;
	text-align: center;
	color: #999999;
	border-bottom-width: 1px;
}
.modal.option .modal-body .table tbody tr th {
	text-align: left;
	font-size: 11px;
	font-weight: 500;
	color: #777777;
}
.modal.option .modal-body .table tbody tr td {
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #000000;
}
.modal.option .modal-body .table tbody tr td.none {
	padding: 80px 0;
}
.modal.option .modal-footer {
	margin: 0 10px;
	padding: 30px 0;
	justify-content: left;
	border: 0;
}
.modal.option .modal-footer .btn-block {
	height: 54px;
	line-height: 54px;
	background-color: #222526;
	color: #fff;
	padding: 0;
}
/* Modal : Option */

/* Modal : Product */
.modal.product .modal-dialog {
	width: 335px;
	max-width: 95%;
	margin: 50px auto;
}
.modal.product .modal-header {
	padding: 20px 0 10px 0;
	margin: 0 30px;
	border: 0;
}
.modal.product .modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	color: #222526;
}
.modal.product .modal-content {
	border-radius: 0;
	border: 0;
}
.modal.product .modal-body {
	padding: 0;
	margin: 0 30px;
}
.modal.product .modal-body .table thead tr th {
	font-size: 11.5px;
	font-weight: normal;
	text-align: center;
	color: #999999;
	border-bottom-width: 1px;
}
.modal.product .modal-body .table tbody tr:first-child * {
	border-top: 0;
}
.modal.product .modal-body .table tbody tr th {
	text-align: left;
	font-size: 11px;
	font-weight: 500;
	color: #777777;
	width: 25%;
}
.modal.product .modal-body .table tbody tr td {
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	color: #000000;
}
.modal.product .modal-body .table tbody tr td.none {
	padding: 80px 0;
}
.modal.product .modal-footer {
	margin: 0 10px;
	padding: 30px 0;
	justify-content: left;
	border: 0;
}
.modal.product .modal-footer .btn-block {
	height: 54px;
	line-height: 54px;
	background-color: #222526;
	color: #fff;
	padding: 0;
}
/* Modal : Product */

/* Policy */
section.policy {
	padding: 107px 0 140px 0;
}
section.policy .copyright {
	text-align: center;
	margin: 0 0 54px 0;
}
section.policy .copyright h4 {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.64;
	color: #000000;
	margin: 0 0 19px 0;
}
section.policy .copyright p {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.64;
	color: #999999;
	margin: 0;
}
section.policy .accordion {
	border-top: 1px solid #222;
	border-bottom: 1px solid #ddd;
}
section.policy .accordion > .card {
	background-color: transparent;
	border: 0;
	font-weight: 500;
}
section.policy .accordion > .card > .card-header {
	background-color: transparent;
	border: 0;
	font-weight: 500;
	padding-top: 18px;
}
section.policy .accordion > .card > .card-header .float-right {
	font-size: 12px;
	font-weight: 500;
	color: #999999;
}
section.policy .accordion > .card > .card-header .float-right .btn-link {
	font-size: 12px;
	font-weight: 500;
	color: #999999;
	text-decoration: none;
}
section.policy .accordion > .card > .card-header .float-right img {
	height: 10px;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -1px;
}
section.policy .accordion > .card .card-body {
	border: 0;
	margin: 0;
	background-color: #f6f9fc;
	font-size: 12px;
	line-height: 1.83;
	color: #777777;
	max-height: 200px;
	overflow-y: auto;
}
section.policy .all {
	padding: 22px 17px;
	margin: 0 0 96px 0;
}
section.policy .all .form-check-label {
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
}
section.policy .btn-line .btn {
	width: 210px;
	height: 54px;
	padding: 0;
	line-height: 54px;
	border-radius: 0;
	margin: 0 6px;
	border: 0;
	font-weight: 500;
}
section.policy .btn-line .btn-light,
section.policy .btn-line .btn-light:active {
	background-color: #dadfe5;
}
section.policy .btn-line .btn-info,
section.policy .btn-line .btn-info:active {
	background-color: #7ddec5;
	color: #000;
}
@media (max-width: 992px) {
	section.policy {
		padding: 31px 33px 34px 33px;
	}
	section.policy .copyright {
		text-align: left;
	}
	section.policy .accordion > .card > .card-header .float-right span {
		display: none;
	}
	section.policy .all {
		margin: 0;
	}
	section.policy .btn-line {
		display: flex;
	}
	section.policy .btn-line .btn {
		margin: 0;
	}
	section.policy .accordion > .card > .card-header .checkbox .float-right .btn {
		padding: 0;
	}
	section.policy .accordion > .card > .card-header .checkbox .form-check-label {
		width: calc(100% - 20px);
		word-break: keep-all;
	}
}
/* Policy */

/* Alarm List */
section.alarm {
	background-color: #f6f9fc;
	padding: 46px 0 141px 0;
}
section.alarm .copyright h2 {
	height: 65px;
	line-height: 65px;
	font-size: 44px;
	font-weight: 500;
	color: #222222;
	text-align: center;
	margin: 0 0 49px 0;
}
section.alarm .list-group .list-group-item {
	padding: 0 40px 0 30px;
	cursor: pointer;
	border: 0;
}
section.alarm .list-group .list-group-item:hover > div h5 .text {
	text-decoration: underline;
}
section.alarm .list-group .list-group-item:hover > div small {
	text-decoration: underline;
}
section.alarm .list-group .list-group-item > div h5 {
	margin: 0;
	height: auto;
	/* line-height: 80px; */
	padding: 20px 0;
}
section.alarm .list-group .list-group-item > div h5 .image {
	margin: 0 23px 0 0;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	width: 40px;
	vertical-align: middle;
}
section.alarm .list-group .list-group-item > div h5 .image.round {
	border-radius: 40px;
}
section.alarm .list-group .list-group-item > div h5 .image img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
section.alarm .list-group .list-group-item > div h5 .new {
	margin: 0 23px 0 5px;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 22.5px;
	background-color: #00b896;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}
section.alarm .list-group .list-group-item > div h5 .text {
	height: auto;
	line-height: 1.5em;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	font-weight: normal;
	color: #222526;
	width: calc(100% - 100px);
	white-space: pre-wrap;
}
section.alarm .list-group .list-group-item > div h5 .text a {
	color: #222526;
}
section.alarm .list-group .list-group-item > div small {
	height: 80px;
	line-height: 80px;
	font-size: 15px;
	text-align: right;
	color: #999999;
}
section.alarm .list-group .list-group-item.read {
	background-color: transparent;
}
section.alarm .list-group .list-group-item.read > div h5 {
	opacity: 0.7;
}
section.alarm .list-group .list-group-item.read > div small {
	opacity: 0.7;
}
section.alarm .list-group .list-group-item.none {
	background-color: transparent;
	padding: 140px 0;
	text-align: center;
	font-size: 17px;
	color: #999999;
}
@media (max-width: 992px) {
	section.alarm {
		padding-top: 0;
	}
	section.alarm .copyright {
		display: none;
	}
	section.alarm .list-group .list-group-item {
		padding: 22px 30px;
		cursor: pointer;
		border: 0;
	}
	section.alarm .list-group .list-group-item > div h5 {
		margin: 0;
		height: auto;
		line-height: 1;
		font-size: 15px;
		font-weight: bold;
		color: #222526;
	}
	section.alarm .list-group .list-group-item > div h5 .image {
		margin: 0 15px 0 0;
		height: auto;
		font-size: 15px;
		vertical-align: top;
		line-height: 1;
	}
	section.alarm .list-group .list-group-item > div h5 .text {
		margin: 0;
		height: auto;
		line-height: 1.47;
		width: calc(100% - 80px);
		font-size: 15px;
		vertical-align: top;
	}
	section.alarm .list-group .list-group-item > div small {
		height: auto;
		line-height: 1.47;
		font-size: 15px;
		text-align: left;
		color: #999999;
	}
}
/* Alarm List */

/* Modal : order */
.modal.order .modal-dialog {
	width: 375px;
	max-width: 95%;
	margin: 50px auto;
}
.modal.order .modal-header {
	padding: 20px 0 10px 0;
	margin: 0 30px;
	border: 0;
}
.modal.order .modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	color: #222526;
}
.modal.order .modal-content {
	border-radius: 0;
	border: 0;
}
.modal.order .modal-body .copyright h3 {
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.64;
	letter-spacing: normal;
	text-align: center;
	color: #272727;
	margin: 0 0 10px 0;
}
.modal.order .modal-body .copyright p {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.57;
	letter-spacing: normal;
	text-align: center;
	color: #222222;
}
.modal.order .modal-footer {
	margin: 0 29px;
	padding: 30px 0;
	justify-content: left;
	border: 0;
}
.modal.order .modal-footer .btn-group {
	height: 54px;
	line-height: 54px;
	background-color: #222526;
	color: #fff;
	padding: 0;
}
.modal.order .modal-footer .btn-group .btn {
	padding: 0;
	border: 0;
	border-radius: 0;
}
.modal.order .modal-footer .btn-group .btn-light {
	height: 54px;
	background-color: #dadfe5;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.4px;
	color: #222526;
}
.modal.order .modal-footer .btn-group .btn-primary {
	height: 54px;
	background-color: #222526;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.4px;
	text-align: center;
	color: #ffffff;
}
.modal.order .modal-body {
	margin: 0 30px;
	padding: 0;
}
.modal.order .modal-body .info {
	height: 130px;
	line-height: 130px;
	background-color: #ddf1f7;
	margin: 27px 0 0 0;
	padding: 0 10px;
}
.modal.order .modal-body .info .image {
	display: inline-block;
	vertical-align: top;
}
.modal.order .modal-body .info .image img {
	height: 120px;
}
.modal.order .modal-body .info .text {
	width: calc(100% - 130px);
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	font-size: 12px;
	color: #222526;
	padding: 26px 0 0 5px;
}
.modal.order .modal-body .info .text h5 {
	font-family: "Futura Std Heavy";
	font-size: 14px;
	font-weight: 900;
	color: #222222;
	margin: 0 0 9px 0;
	/* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.modal.order .modal-body .info .text p {
	margin: 0 0 9px 0;
	font-size: 12px;
	color: #222222;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.modal.order .modal-body .info + .stock {
	height: 66px;
	line-height: 66px;
	padding: 0 30px;
	border: solid 1px #dddddd;
	margin: 0 0 20px 0;
}
.modal.order .modal-body .info + .stock strong {
	font-family: "Futura Std Heavy";
	font-size: 20px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: right;
	color: #000000;
}
.modal.order .modal-body .check {
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: right;
	color: #222222;
}
.modal.order .modal-body .check a {
	color: #222222;
}
.modal.order .modal-body .check a img {
	height: 10px;
	vertical-align: middle;
	margin-left: 10px;
}
/* Modal : order */

/* Modal : deposit */
.modal.deposit .modal-dialog {
	width: 375px;
	margin: 50px auto;
	max-width: 95%;
}
.modal.deposit .modal-header {
	padding: 20px 0 10px 0;
	margin: 0 30px;
	border: 0;
}
.modal.deposit .modal-header .modal-title {
	font-size: 22px;
	font-weight: bold;
	color: #222526;
}
.modal.deposit .modal-content {
	border-radius: 0;
	border: 0;
}
.modal.deposit .modal-body {
	padding: 0;
	margin: 0 30px;
}
.modal.deposit .modal-body .copyright {
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.64;
	letter-spacing: normal;
	text-align: center;
	color: #272727;
	margin: 0 0 40px 0;
}
.modal.deposit .modal-body .bank {
	font-size: 16px;
	color: #5c5c5c;
	margin: 0 0 62px 0;
}
.modal.deposit .modal-body .bank .float-right {
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;
	color: #999999;
	cursor: pointer;
	text-decoration: underline;
}
.modal.deposit .modal-body .inputs input {
	font-size: 38px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	width: 100%;
	border: 0;
	border-bottom: 1px solid #000;
	margin: 0 0 8px 0;
}
.modal.deposit .modal-body .inputs input::placeholder {
	/* Firefox, Chrome, Opera */
	color: #dddddd;
}
.modal.deposit .modal-body .inputs label {
	position: absolute;
	top: 0;
	right: 0;
	height: 38px;
	line-height: 38px;
}
.modal.deposit .modal-body .inputs + p {
	font-size: 16px;
	color: #999999;
	margin: 0 0 60px 0;
}
.modal.deposit .modal-body .help {
	font-size: 13px;
	color: #e75149;
}
.modal.deposit .modal-body .form-group {
	margin: 0 0 25px 0;
}
.modal.deposit .modal-body .form-group > label {
	height: 27px;
	line-height: 27px;
}
.modal.deposit .modal-body .form-group .form-control {
	padding: 0 12px;
	height: 46px;
	line-height: 46px;
	border-radius: 0;
}
.modal.deposit .modal-body .form-group .form-control[readonly] {
	background-color: #f6f9fc;
}
.modal.deposit .modal-footer {
	margin: 0 20px;
	padding: 10px 0 30px 0;
	justify-content: left;
	border: 0;
}
.modal.deposit .modal-footer .btn-block {
	height: 54px;
	line-height: 54px;
	background-color: #222526;
	color: #fff;
	padding: 0;
	border-radius: 0;
}
.modal.deposit .modal-footer .btn-block {
	border-radius: 0;
}
.modal.deposit .modal-footer .btn.disabled {
	background-color: #f1f4f6;
	color: #999999;
}
@media (max-width: 992px) {
	.modal.deposit .modal-dialog {
		width: 100%;
		margin: 0;
		max-width: 100%;
		height: 100%;
		min-height: 100%;
	}
	.modal.deposit .modal-dialog .modal-content {
		height: 100%;
		min-height: 100%;
		position: static;
	}
	.modal.deposit .modal-dialog .modal-footer {
		padding: 0;
		margin: 0;
	}
	.modal.deposit .modal-dialog .modal-footer .btn {
		margin: 0;
	}
}
/* Modal : deposit */

.history-component {
	margin: 50px 0 50px 0;
}
.history-component .list-group {
	border: 0;
	border-radius: 0;
	border-top: solid 2px #222526;
}
.history-component .list-group .list-group-item {
	border: 0;
	border-bottom: solid 1px #eeeeee;
	padding: 27px 21px;
	border-radius: 0;
}
.history-component .list-group .list-group-item.none {
	text-align: center;
	padding: 100px 0;
}
.history-component .list-group .list-group-item .d-flex > p {
	font-size: 12px;
	letter-spacing: -0.48px;
	color: #222526;
	width: 200px;
}
.history-component .list-group .list-group-item .row > p {
	font-size: 12px;
	letter-spacing: -0.48px;
	color: #222526;
	width: 200px;
}
.history-component .list-group .list-group-item .d-flex small {
	font-size: 11px;
	color: #aaaaaa;
}
.history-component .list-group .list-group-item .row small {
	font-size: 11px;
	color: #aaaaaa;
}
.history-component .list-group .list-group-item > h5 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.64px;
	color: #222526;
	padding: 10px 0 6px 0;
}
.history-component .list-group .list-group-item .d-flex > div > p {
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #999999;
	white-space: pre-wrap;
}
.history-component .list-group .list-group-item .row > div > p {
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #999999;
	white-space: pre-wrap;
}

.history-component .list-group .list-group-item:last-child {
	border: 0;
	border-bottom: 0;
}
.history-component .btn-block {
	height: 40px;
	line-height: 40px;
	border: solid 1px #cccccc;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.4px;
	text-align: center;
	color: #666666;
	box-shadow: none;
}
.history-component .btn-block:hover {
	background-color: rgba(0, 0, 0, 0.03);
}
@media (max-width: 992px) {
	.history-component .list-group .list-group-item .d-flex {
		display: block !important;
	}
	.history-component {
		margin: 50px 30px 50px 30px;
	}
}

.history-component .sort {
	margin: 0 0 10px 0;
}
.history-component .sort .dropdown {
	display: inline-block;
}
.history-component .sort .dropdown .btn {
	background-color: transparent;
	box-shadow: none;
	border: 0;
	font-size: 12px;
	color: #777777;
	padding-left: 0;
}
.history-component .sort .dropdown .dropdown-menu {
	padding: 0;
	border-radius: 0;
	width: 260px;
	box-shadow: 0 8px 14px 0 #d7dee5;
}
.history-component .sort .dropdown .dropdown-item {
	padding: 0 30px;
	height: 56px;
	line-height: 56px;
	border-bottom: solid 1px #c9cfd5;
	border-radius: 0;
	font-size: 12px;
	color: #999999;
	text-align: center;
}
.history-component .sort .dropdown .dropdown-item:active {
	background-color: #eee;
}
.history-component .sort .dropdown .dropdown-item.title {
	text-align: left;
	background-color: #f6f9fc;
	font-size: 15px;
	font-weight: 500;
	color: #222526;
}
.history-component .sort .dropdown .dropdown-item span:nth-child(1) {
	float: left;
}
.history-component .sort .dropdown .dropdown-item span:last-child {
	float: right;
}
.history-component .sort .dropdown .dropdown-item strong {
	font-size: 15px;
	font-weight: 500;
	color: #000000;
}

/* Modal : hamburger */
.modal.hamburger {
	padding: 0;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.modal.hamburger .modal-dialog {
	min-height: 100%;
	height: 100%;
	margin: 0;
}
.modal.hamburger .modal-dialog .modal-content {
	min-height: 100%;
	height: 100%;
	border: 0;
	border-radius: 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-header {
	border: 0;
	padding: 47px;
}
.modal.hamburger .modal-dialog .modal-content .modal-header .modal-title {
	width: 100%;
}
.modal.hamburger .modal-dialog .modal-content .modal-header .logo {
	width: 133px;
	vertical-align: middle;
}
.modal.hamburger .modal-dialog .modal-content .modal-header .float-right img {
	height: 18px;
	width: 18px;
	vertical-align: middle;
	cursor: pointer;
}
.modal.hamburger .modal-dialog .modal-content .modal-body {
	padding: 47px;
}
.modal.hamburger
	.modal-dialog
	.modal-content
	.modal-body
	.nav:first-child
	.nav-link {
	font-size: 28px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.21;
	letter-spacing: -0.47px;
	color: #000000;
	margin: 0 0 20px 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-body .nav .nav-link {
	padding: 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-body .nav:first-child {
	margin: 0 0 10px 0;
}
.modal.hamburger
	.modal-dialog
	.modal-content
	.modal-body
	.nav:nth-child(2)
	.nav-link:nth-child(1) {
	padding: 0 10px 0 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-footer {
	border: 0;
	padding: 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-footer p {
	border: 0;
	padding: 0 47px;
	font-family: "Futura Std";
	font-size: 11px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.64;
	letter-spacing: normal;
	color: #999999;
	margin: 0 0 15px 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-footer .nav {
	margin: 0;
	padding: 0;
	width: 100%;
}
.modal.hamburger .modal-dialog .modal-content .modal-footer .nav .nav-item {
	width: 50%;
}
.modal.hamburger .modal-dialog .modal-content .modal-footer .nav .nav-link {
	height: 50px;
	background-color: #f5f5f5;
	font-size: 13px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 50px;
	letter-spacing: -0.73px;
	color: #666666;
	width: 100%;
	text-align: center;
	padding: 0;
}
.modal.hamburger .modal-dialog .modal-content .modal-footer .nav .nav-item {
	padding: 1.5px;
}
/* Modal : hamburger */
