---
layout: default
---
<article class="post">

	<header class="post-header">
		<h2>{{ page.title }}</h2>
		<hr>
	</header>

	<div class="post-content about">
		<div class="about-text">
			<p>안녕하세요! 조윤우입니다.</p>

			<p>소프트웨어 철학에 관심이 있고 프론트엔드 개발자로 일하고 싶습니다.</p>

			<p>웹퍼블리싱 총 경력은 2년 5개월이고 업무적인 리액트 프로젝트 개발 경력은 없지만</p>

			<p>사이드 프로젝트 냥터레스트를 리액트로 진행하며 개발자분들의 고충을 어렴풋이 알아가고 있습니다.</p>
		</div>

		<figure>
			<img src="https://yoonucho.github.io/renewal/img/pic_me.jpg" alt="프로필사진">
		</figure>

	</div>


</article>