/* layout */
body {position: relative;}
#header {position:fixed;z-index:9999;width:100%;height: 83px;background:rgba(229,229,227, 0.9);}
#gnb {float:right}
main {padding-top:10rem;background:rgba(244,229,189,0.2);}

#about_me {color:#4A8391;padding-bottom:3rem;} 
#portfolio {color:#ED908C}
#snippet {color:#A1CEAB;padding-bottom: 3rem;}
#skills {color:#ee9b97;padding-bottom: 3rem;}
#contact {color:#494438;padding-bottom: 3rem}
#footer {background: #E5E5E3;}

/* 로딩 */
#loading {position:fixed;z-index:99;top:0;left:0;display:block;width:100%;height:100%;background: rgba(0, 0, 0, 0.9);text-align: center}
#loading_box {position: absolute;z-index:100;top:50%;left:50%;width:6rem;margin-left:-3rem}
#loading_box > img {display:inline-block;width:4rem}
#loading_box > p {font-size:2rem;color:#fff}

/* 로딩 animation */
#loading_box { animation: loading 1000ms ease 0s infinite alternate; -webkit-animation: loading 1000ms ease 0s infinite alternate;
}

@keyframes loading {
  from {
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -ms-transform:translateY(0px);
    -o-transform:translateY(0px);
}
  to {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
	}
}

/* 공통 */
h3 {padding:3.5rem 0;font-size:2rem;text-align: center}
h3:after {display:block;padding-top:10px;border-bottom:1px solid;content:"";color:inherit}

/* container */
.container {position: relative;max-width:1200px;height:100%;margin:0 auto;}

/* section layout */
.container > section {min-height: 300px}
section > div {max-width:1100px;min-height:100%;margin:0 auto}

/* header */
.header {position: relative;z-index:999;top:22px;}
.header {display:block}
.header:after {display:block;line-height: 0;clear:both;content:""}
h1 {float:left}

/* nav */
.gnb:after{display:block;line-height:0;clear:both;content:""}
.gnb li {float:left;margin-right:20px}
.gnb li:last-child {margin-right:0}
.gnb li a{display:block;position: relative;padding:5px;font-weight: 600}
.gnb li a:before{  position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background: #4A8391; -webkit-transition: 0.2s; -moz-transition: 0.2s; transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s;content: ""}
.gnb li a:hover {color:#4A8391;}
.gnb li a:hover:before{width:100%}
.gnb li a:hover:after{width:100%}
.gnb li.active a{color:#4A8391}
.gnb li.active a:before{width:100%}
.gnb_btn {display:none;position: relative;}

/* intro */
.tag_text {padding:20px}
.tag_text:nth-child(n+3){text-align: right}
.tag_text:nth-child(2){margin-left: 3rem;}
.tag_text:nth-child(3){margin-right: 3rem;}
.tag{color:#181612;font-size:13px}
.me { width:270px; margin:0 auto ; opacity:0;animation: intro-head 2000ms linear 0.5s infinite alternate; -webkit-animation: intro-head 2000ms linear 0.5s infinite alternate; }

/* 애니메이션 */
@keyframes intro-head{
	0% {
		opacity: 1;
		transform:rotate(-3deg);
		-webkit-transform:rotate(-3deg);
		-moz-transform:rotate(-3deg);
		-ms-transform:rotate(-3deg);
		-o-transform:rotate(-3deg);
	}

	50% {
		opacity: 1;
		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
	}

	100% {
		opacity: 1;
		transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		-o-transform: rotate(3deg);
	}
}

.intro_title{position: relative;padding:2rem 0; color:#615b4b; font-size: 2rem; line-height: 1.3 }
.intro_title .slideY{display:block; margin-left: 25rem;opacity: 0;}
.intro_title .slideX{display:block;opacity: 0;}
.intro_title .slideX2 {margin-left: 50rem;padding-left: 3.4rem;opacity: 0;}

/* 텍스트 애니메이션 */
.slideY { animation:slideY 0.5s 1s ease-in forwards; -webkit-animation:slideY 0.5s 1s ease-in forwards; }
@keyframes slideY {
	0% { transform:translateY(-60px); opacity:0; -webkit-transform:translateY(-60px); -moz-transform:translateY(-60px); -ms-transform:translateY(-60px); -o-transform:translateY(-60px); }
	100% {transform:translateY(0); opacity:1; -webkit-transform:translateY(0); -moz-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); }
}

.slideX { animation:slideX 1s 0.7s ease-in forwards; -webkit-animation:slideX 1s 0.7s ease-in forwards; }
@keyframes slideX {
	0% {opacity:0;}
	100% {margin-left: 25rem;opacity:1;}
}

.slideX2 { animation:slideX 1s 1.5s ease-in forwards; -webkit-animation:slideX 1s 1.5s ease-in forwards; }

@keyframes slideX2 {
	0% {opacity:0 }
	100% {margin-left: 25rem;opacity:1}
}
 
/* about_me */
.about_me {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-flow: row wrap;flex-flow: row wrap}
.about_me .box {margin:0 2rem;-webkit-box-flex:2;-ms-flex:2;flex:2}
.about_me .box p {color:#4A8391;white-space: pre-line;}
.about_me figure {-webkit-box-flex:1;-ms-flex:1;flex:1;-ms-flex-item-align: end;align-self: flex-end;padding:3rem 0;opacity:1;transition: opacity .25s ease-in-out;}

/* timeline */
.time_line {color:#4A8391;margin-top: 11rem;}
.time_line ol {display:-webkit-box;display:-ms-flexbox;display:flex;}
.time_line ol:after { display:block; position: absolute; left:0;right:0;max-width:48rem;height:3px; background: #A1CEAB; content:""}
#time_line h4 {margin:2rem 0 1rem}
.time_line li {position: relative;display:inline-block;min-width:10rem;width:10rem}
.time_line li:after { position: absolute; top:-4px; left:50%; transform:translateX(-50%);width:10px; height:10px; content:""; width: 10px; height: 10px; border-radius: 50%; background:#A1CEAB; content: ""; -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); }
.time_line .time_box { position: relative;z-index:99; top:1.5rem;min-height:6rem;padding:1rem 1rem; background: #D2E5C5; border-radius:30px /10px; -webkit-border-radius:30px /10px; -moz-border-radius:30px /10px; -ms-border-radius:30px /10px; -o-border-radius:30px /10px;box-shadow: 5px 4px 8px 0px rgba(50, 50, 50, 0.75);}
.time_line li:nth-child(odd) .time_box {top:-9.5rem;left:3rem;box-shadow: 5px -4px 8px 0px rgba(50, 50, 50, 0.75);}
.time_line .time_box:after {position: absolute;top:0;left:3rem;z-index: -1;;width: 20px;height: 20px;background:inherit;-webkit-transform: translateY(-50%) rotate(45deg);transform: translateY(-50%) rotate(45deg);content: ' '}
.time_line li:nth-child(odd) .time_box:after {top:100%;bottom:-20px;}
.time_line .time_box  p {letter-spacing: -1px}
.time_line .time_box span {display:block;font-size:1.5rem}

/* portfolio */
.tab {position: relative}
.tab .tab_list:after {display:block;clear:both;content: "";line-height: 0}
.tab .tab_list  li {float:left}
.tab .tab_list > li {width:25%;height:60px;-webkit-box-sizing: border-box;box-sizing: border-box}
.tab .tab_list  li.active button{border:none;background: #ED908C;color:#fff}
.tab .tab_list button { display:block; width:100%; height:100%; border:2px solid #ee9b97; cursor: pointer; border-radius:20px 0; background: #fff; font-size: 1.2rem; font-weight: 600; line-height:55px;transition:.2s ease-in ; -webkit-transition:.2s ease-in ; -moz-transition:.2s ease-in ; -ms-transition:.2s ease-in ; -o-transition:.2s ease-in ; }

/* grid와 float의 혼합 레이아웃 */
/* grid가 현재 ie에서는 제대로 지원이 되지 않아서 ie에서는 float로 대체함. */
.tab_contents {width:100%;height:100%;display:none}
.tab .tab_contents ul{text-align:center;display:grid;grid-template-columns: repeat(3, 1fr);grid-gap: 10px}
.tab_contents {display:block;margin-top:2rem;font-size:0}
.tab .tab_contents li {position: relative;display:inline-block;margin:0 0.5rem 2% 0}
.tab_contents li:nth-child(3n) {margin-right:0;}
.tab .tab_contents li > a { display:block; width:100%; min-width:20rem}
.tab_contents li > a img {width:100%;height:300px;-o-object-fit: cover;object-fit: cover;-o-object-position: 0 0;object-position: 0 0}


/* 오버레이 */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.tab .tab_contents li > a:hover .overlay {
  height: 100%;
}

.overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  color: #fff;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* snippet */
.snippet {position: relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap}
.snippet .flex_box {-webkit-box-flex:1;-ms-flex:1;flex:1;text-align: center} 
.snippet .btn_click {display:inline-block;width:12.5rem;height: 12.5rem;margin-bottom: 1rem;padding: 5%;border-radius: 50%;background:#A1CEAB;cursor: pointer;font-size: 1.2rem;font-weight: 600;color:#757575}
.snippet .btn_click:hover {background: #4A8391;color:#fff}

/* 모달 */
 .modal {
	display:none; 
	position: fixed;
	z-index:9998;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	padding:2%;;
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    /* opacity:1; */
    -webkit-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.modal .modal_box {
	position: absolute;
    top: 15%;
    left: 50%;
	/* overflow: auto; */
    width: 100%;
	max-width:1200px;
	padding: 2%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	border: 16px solid #333;
	background-color: white;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
} 

.modal_box > div {
	width:100%;
	height:100%;
}

.snippet .btn_click.active +.modal {opacity:1;pointer-events: auto;}
.modal h4 {font-size:2rem;color:#333;line-height:1.6}
.modal .btn_close {position: absolute;top:0;right:0;display:block;padding:1% 2%;background:none;font-size: 2rem;cursor: pointer;}

/* Skills & Experience */
.skills {position: relative;display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:space-between;margin-bottom:4rem;color:#615b4b;-webkit-box-orient :horizontal;-webkit-box-direction :normal;-ms-flex-flow :row wrap;flex-flow :row wrap;}
.skills figure {position: relative;width:20%;height:14rem;text-align: center;}
.skills figure img { position: absolute;left:0;right:0;top:50%;margin-left:auto;margin-right:auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.skills figure figcaption {position: absolute;width:100%;bottom:-30px;font-weight: 600}
.skills_text {min-height:100%;padding:1%;color:#615b4b;font-size:1.2rem} 
.skills_text p {white-space: pre-wrap}

/* contact */
.contact {text-align: center;background:url(../img/yoonu.png) no-repeat 0 100%;background-size:contain}
.contact ul {display:inline-block;padding-left: 7rem;font-size:1.2rem;text-align: left;box-sizing: border-box}
.contact li {margin-bottom:0.5rem}
.contact li:last-child {margin-bottom:0}

/* footer */
.footer address {padding:27px 0 20px;text-align:center}
.footer address > a{display: inline-block;vertical-align: middle}

/* 위로가기 버튼 */
.btn_wrap {position: absolute;right:2rem;width:4rem;margin-top:-4.5rem;text-align: center}
.btn_wrap > span {display:block;color:#494438;font-size:1rem;font-weight: 600}
.btn_wrap .btn_top {width: 3rem; height: 3rem; background: #a1ceab;border:1px solid #494438;border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; font-size:1.5rem;color:#fff;cursor: pointer ; }

/* animation */
.btn_wrap {
   animation: movement 1000ms ease 0ms infinite alternate;
   -webkit-animation: movement 1000ms ease 0ms infinite alternate;
}

@keyframes movement {
  from {
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -ms-transform:translateY(0px);
    -o-transform:translateY(0px);
}
  to {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
	}
}

/* 챗봇위젯 커스텀 */
#collect-chat-launcher-container {position:absolute !important;bottom:5px !important}

/* mediaquery 320 / 480 / 640 / 768 / 960 / 1024  */

@media only screen and (max-width:1024px) {
	#header {height: auto;}
	main {padding-top:4rem;}
	.row {top:0;padding:1rem}
	/* aboutme */
	.about_me .box {margin: 0;width:58%}
	.time_line ol::after {max-width:42rem}
	
	/* portfolio*/
	.tab .tab_contents li a {min-width:unset;max-width:unset}

	/* footer */
	.footer address {padding: 0}

	/* 챗봇위젯 커스텀 */
	#collect-chat-launcher-container {bottom:0 !important}
	
}

@media only screen and (max-width:960px) {	
	/* portfolio*/
	.tab .tab_contents ul {grid-template-columns: repeat(2, 1fr);}
	
	/* snippet */
	.snippet .btn_click{width:11.5rem;height:11.5rem}
	/* skills */
	.skills figure {width:33.33%;margin-bottom:2rem}
	.skills figure:nth-child(4n) {margin-bottom:0}
}

@media only screen and (max-width:959px) and (min-width:769px) {
	/* about_me  */
	.about_me figure {max-width:18rem}	
}

@media only screen and (max-width:768px) {
	/* intro */
	.intro_title { opacity:0; max-width: 20rem; margin: 0 auto; animation:slideY 0.7s 1s ease-in forwards; -webkit-animation:slideY 0.7s 1s ease-in forwards; }
	.intro_title .slideY {opacity:1;margin-left:0;animation:none; -webkit-animation:none;}
	.intro_title .slideX { opacity:1; animation:none; -webkit-animation:none; }
	.intro_title .slideX2{ opacity:1; margin-left: 0; animation:none; -webkit-animation:none; }

	/* about_me  */
	.about_me .box {width:100%}
	.time_line ol:after {max-width:100%;opacity:1;justify-content: space-between; transition:opacity .3s ease-in; -webkit-transition:opacity .3s ease-in; -moz-transition:opacity .3s ease-in; -ms-transition:opacity .3s ease-in; -o-transition:opacity .3s ease-in; }
	.time_line li {min-width: 9rem;}
	.time_line li:after {left:55%;transition:opacity .3s ease-in;}
	.time_line li .time_box {width:auto}
	.time_line .time_box span {font-size:1.4rem;}
	.time_line .time_box p {font-size:0.9rem}
	.about_me figure { opacity: 0;}

	/* snippet */
	.snippet {flex-flow: row wrap}
	.snippet .flex_box {flex:none;min-width:50%;}

	/* 챗봇위젯 커스텀 */
	#collect-chat-launcher-container.collect-chat-launcher-left {left:0 !important}
}

@media only screen and (max-width:640px) {
	/* header */
	#header {margin-top:-3px;}
	.header.mobile {display:block}
	.mobile.active {position: fixed;z-index: 9999;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.5)}
	.mobile .gnb { display:none; position: absolute; top: 0; bottom: 0; right: 0; padding: 2rem 1.5rem 1.5rem; background:rgba(237,144,140, 0.9); box-sizing: border-box; transition:all 0.2s ease-in; -webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -ms-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; }
	.mobile.active .gnb {display: block}
	.mobile.active .gnb_btn {font-size:2.5rem;color:#fff}

	.gnb li {display:block;float:none;margin:0 0 2rem;text-align: center}
	.gnb li a {display:inline-block;font-size:2rem;color:#f2b1ae}
	.gnb li a:before {background: #fff;}
	.gnb li.active a {color:#fff;}
	.gnb li.active a:before {background: #fff;}
	.gnb li a:hover {color:#fff}
	.gnb li a:hover:before {background:#fff}
	.gnb li.a:hover:after {background:#fff}
	.gnb_btn {display:block;background:none;font-size: 2rem;color:#494438;line-height:1;cursor: pointer;}
	.gnb_btn .fa {vertical-align:top}
	
	/* aboutme */
	#about_me {padding-bottom:0;}
	.about_me .box {flex:none}
	.time_line {margin-top:0}
	.time_line ol {flex-flow:row wrap;align-items: center}
	.time_line ol:after {opacity:0;}
	.time_line li {display:block;min-width:100%;margin-bottom:1rem;}
	.time_line li:after {opacity:0;}
	.time_line li .time_box {position: static;text-align:center;box-shadow: none;padding:0.5rem}
	.time_line li:nth-child(odd) .time_box {box-shadow: none}
	.time_line .time_box:after {display:none}
	.time_line .time_box span {font-size:2rem;} 
	.time_line .time_box p {letter-spacing: 0;font-size:120%;}

	/* portpolio*/
	.tab .tab_list > li {min-width:50%}
	.tab .tab_list > li:nth-child(-n+2) {margin-bottom:2%}
	.tab .tab_list button { border-radius:0 20px; }
	.tab .tab_contents ul {grid-template-columns: repeat(1, 1fr);}
	/* .tab .tab_contents li a {min-width:100%} */

	/* skills */
	.skills figure {min-width:50%}
	.skills figure:last-child {min-width:100%}

	/* snippet */
	#snippet {padding-bottom:0}
	.snippet .flex_box {flex:none;min-width:100%;}
	.modal h4 {font-size:150%;line-height:1.8}

	/* contant */
	#contact {padding-bottom: 0;}
	
}

@media only screen and (max-width:480px) {
		/* 공통  */
	h3 {padding:10% 0}

	/* contact */
	.contact {background: none}
	.contact ul {padding:0}

	/* footer */
	.footer address {font-size:86%}

	/* btn_top */
	.btn_wrap {right:0}
}
@media only screen and (max-width:320px) {
	/* snippet */
	.snippet .flex_box:nth-child(n+3) {display:none}
	.modal h4 {font-size: 120%;line-height:2;}
	
	/* footer */
	.footer address {font-size:76%}
	
}
